.modal-window-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  .title {
    // font-family: montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  .stock {
    margin-top: 7px;
    // font-family: montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #942fe5;
  }

  .invalid {
    border: 1px solid red !important;
  }

  input {
    outline: none;
    padding: 10px;
    padding-top: 11px;
  }
  .name-box {
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    .name {
      display: block;
      border: 1px solid #343434;
      background: transparent;
      width: 350px;
      height: 48px;
      box-sizing: border-box;
      border-radius: 3px;
      // font-family: montserrat, sans-serif;
      color: #000;
      font-size: 16px;
      padding-left: 16px;
    }
  }
  
  .number-box {
    position: relative;
    margin-bottom: 30px;
    .number {
      display: block;
      border: 1px solid #343434;
      background: transparent;
      padding-left: 66px;
      width: 350px;
      height: 48px;
      box-sizing: border-box;
      border-radius: 3px;
      // font-family: montserrat, sans-serif;
      color: #000;
      font-size: 16px;
      &::placeholder {
        color: #7c7a7a;
      }
    }
    .code {
      position: absolute;
      top: 15px;
      left: 16px;
      // font-family: montserrat, sans-serif;
      color: #000;
      font-size: 16px;
    }
  }

  .helper-text {
    position: absolute;
    bottom: -20px;
    color: red;
    // font-family: montserrat, sans-serif;
    font-size: 12px;
    span {
    }
  }

  .data-proc {
    position: relative;
    display: flex;
    .data-proc-checkbox {
      display: block;
      border: 1px solid #000;
      border-radius: 3px;
      width: 16px;
      height: 16px;
      background: transparent;
      position: relative;
      margin-right: 10px;
    }
    .data-proc-checkbox.active {
      &:before {
        position: absolute;
        border-radius: 3px;
        content: "";
        width: 12px;
        height: 12px;
        top: 2px;
        left: 2px;
        background: #942fe5;
      }
    }
    .info {
      // font-family: montserrat, sans-serif;
      font-size: 14px;
      color: #7c7a7a;
      a {
        text-decoration: none;
        color: #475993;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .signup-btn {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #942fe5;
    border-radius: 3px;
    border: none;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    // font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    color: #fff;
    transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
    &:hover {
      transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
      background: #9a35ec;
    }
  }
  .signup-btn.disabled {
    cursor: auto;
    pointer-events: none;
    box-shadow: none;
    background: #b07eda;
  }
}

@media screen and (max-width: 1160px) {
  .modal-window-form {
    .title {
      font-size: 16px;
      text-align: center;
    }
    .stock {
      margin-top: 7px;
      font-size: 16px;
    }
  
    input {
      padding: 5px;
      padding-top: 6px;
    }
    .name-box {
      margin-top: 30px;
      margin-bottom: 20px;
      .name {
        width: 250px;
        height: 35px;
        font-size: 14px;
        padding-left: 16px;
      }
    }
    
    .number-box {
      margin-bottom: 20px;
      .number {
        padding-left: 60px;
        width: 250px;
        height: 35px;
        font-size: 14px;
        &::placeholder {
          color: #7c7a7a;
        }
      }
      .code {
        top: 9px;
        left: 16px;
        font-size: 14px;
      }
    }
  
    .helper-text {
      bottom: -15px;
      font-size: 11px;
    }
  
    .data-proc {
      .data-proc-checkbox {
        width: 13px;
        height: 13px;
        background: transparent;
        position: relative;
        margin-right: 10px;
      }
      .data-proc-checkbox.active {
        &:before {
          width: 11px;
          height: 11px;
          top: 1px;
          left: 1px;
        }
      }
      .info {
        font-size: 12px;
      }
    }
    .signup-btn {
      padding: 0 20px;
      min-width: 137px;
      height: 34px;
      font-size: 14px;
      margin-top: 20px;
    }
  }
}