<div class="header-mask"></div>
<section class="header" (scroll)="fixedHeader()">
  <div class="top-row">
    <h1 class="title">
      Студия по наращиванию и продаже натуральных волос №1 в г. Харькове
    </h1>
  </div>
  <div class="bottom-row">
    <span class="logo">
      <img src="../../assets/imgs/logo.png" alt="logo" />
    </span>
    <nav class="nav">
      <li class="works"><a (click)="scroll('worksPage')">Работы</a></li>
      <li class="masters"><a (click)="scroll('mastersPage')">Мастера</a></li>
      <li class="hairs"><a (click)="scroll('hairPalettePage')">Волосы</a></li>
      <li class="prices"><a (click)="scroll('pricePage')">Цены</a></li>
      <li class="how">
        <a (click)="scroll('howWorkPage')">Как мы работаем</a>
      </li>
      <li class="reviews"><a (click)="scroll('reviewsPage')">Отзывы</a></li>
      <li class="contacts"><a (click)="scroll('contactsPage')">Контакты</a></li>
    </nav>
    <div class="hamburger" (click)="openMenu()">
      <span class="top-line"></span>
      <span class="center-line"></span>
      <span class="bottom-line"></span>
    </div>
    <nav class="nav-hamburger">
      <div class="nav-wrapper">
          <li class="works"><a (click)="scroll('worksPage')">Работы</a></li>
          <li class="masters"><a (click)="scroll('mastersPage')">Мастера</a></li>
          <li class="hairs"><a (click)="scroll('hairPalettePage')">Волосы</a></li>
          <li class="prices"><a (click)="scroll('pricePage')">Цены</a></li>
          <li class="how">
            <a (click)="scroll('howWorkPage')">Как мы работаем</a>
          </li>
          <li class="reviews"><a (click)="scroll('reviewsPage')">Отзывы</a></li>
          <li class="contacts"><a (click)="scroll('contactsPage')">Контакты</a></li>
          <span class="line"></span>
          <p class="address">г. Харьков ул. Каразина, 1</p>
          <p class="p-number">0 (99) 685 57 00</p>
      </div>
    </nav>
  </div>
</section>
