.header-mask {
  width: 100%;
  height: 121px;
}
.header {
  transition: height 0s;
  width: 100%;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background: #fff;
  position: absolute;
  z-index: 9;
  top: 0;
  .top-row {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 0;
    margin-bottom: 0;
    .title {
      // font-family: montserrat, sans-serif;
      font-size: 27px;
      font-weight: 500;
      color: #333;
      letter-spacing: 0.03em;
    }
  }
  .bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    min-height: 77px;
    .logo > img {
      cursor: pointer;
      width: 260px;
      height: auto;
    }
    .nav > li {
      display: inline;
      padding: 0 13px;
      a {
        // font-family: montserrat, sans-serif;
        font-weight: normal;
        font-size: 20px;
        text-decoration: none;
        color: #333333;
        position: relative;
        cursor: pointer;
        &:hover {
          // text-decoration: underline;
          &:after {
            transform: scaleX(1);
          }
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          transition: transform 0.3s ease;
          transform: scaleX(0);
          left: 0;
          background: #942fe5;
        }
      }
    }
    .hamburger {
      display: none;
    }
    .nav-hamburger {
      display: none;
    }
    &.agreement {
      justify-content: center;
    }
  }
  &.fixed {
    position: fixed;
    height: 77px;
    .top-row {
      display: none;
    }
    .bottom-row {
      .nav-hamburger {
        top: 77px;
      }
    }
  }
}



@media screen and (max-width: 1160px) {
  .header-mask {
    height: 96px;
  }
  .header {
    height: 96px;
    z-index: 10;
    .top-row {
      max-width: 649px;
      min-height: 30px;
      margin-bottom: 0;
      .title {
        font-size: 17px;
        letter-spacing: -0.03em;
        font-weight: 600;
      }
    }
    .bottom-row {
      max-width: 649px;
      min-height: 60px;
      .logo > img {
        width: 205px;
        height: auto;
      }
      .nav {
        display: none;
      }
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 23px;
        cursor: pointer;
        span {
          height: 3px;
          width: 38px;
          background: #942fe5;
          border-radius: 3px;
          transition: opacity 0.3s ease, transform 0.5s ease;
        }
        .center-line {
          margin: 7px 0;
        }
        &.active {
          .top-line {
            transform: translateY(10px) rotate(45deg);
          }
          .center-line {
            opacity: 0;
          }
          .bottom-line {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }

      .nav-hamburger {
        list-style-type: none;
        position: fixed;
        overflow-y: auto;
        height: calc(100vh - 78px);
        background: #fff;
        width: 465px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-right: 0;
        //box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
        top: 96px;
        right: 0;
        z-index: 9;
        transform: translateX(105%);
        transition: transform 0.5s ease;
        .nav-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          li {
            padding: 8px 0;
            a {
              cursor: pointer;
              // font-family: montserrat, sans-serif;
              font-weight: normal;
              font-size: 24px;
              text-decoration: none;
              color: #333333;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .line {
            height: 4px;
            border-radius: 1.5px;
            width: 354px;
            background: #942fe5;
            margin-top: 35px;
            margin-bottom: 45px;
          }
          .address, .p-number {
            // font-family: montserrat, sans-serif;
            font-size: 24px;
            font-weight: 500;
            color: #333;
          }
          .address {
            margin-bottom: 10px;
          }
        }
        
      }
    }
    &.fixed {
      height: 60px;
      .bottom-row {
        .nav-hamburger {
          top: 60px;
        }
      }
    }
  }
  
}

@media screen and (max-width: 690px) {
  .header-mask {
    height: 120px;
    // min-width: 375px;
  }
  .header {
    // min-width: 375px;
    height: 120px;
    flex-direction: column-reverse;
    z-index: 9;
    .top-row {
      max-width: 345px;
      min-height: 36px;
      margin: 5px 0;
      margin-left: 10px;
      .title {
        font-size: 17.4px;
        letter-spacing: 0em;
        font-weight: 600;
      }
    }
    .bottom-row {
      max-width: 345px;
      min-height: 60px;
      .logo > img {
        width: 205px;
        height: auto;
      }
      .nav {
        display: none;
      }
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 23px;
        cursor: pointer;
        span {
          height: 3px;
          width: 38px;
          background: #942fe5;
          border-radius: 3px;
          transition: opacity 0.3s ease, transform 0.5s ease;
        }
        .center-line {
          margin: 7px 0;
        }
        &.active {
          .top-line {
            transform: translateY(10px) rotate(45deg);
          }
          .center-line {
            opacity: 0;
          }
          .bottom-line {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }

      .nav-hamburger {
        list-style-type: none;
        position: fixed;
        overflow-y: auto;
        height: calc(100% - 64px);
        background: #fff;
        min-width: 375px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 2px;
        // box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
        top: 50px;
        right: 0;
        z-index: 12;
        transform: translateX(105%);
        transition: transform 0.5s ease;
        .nav-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          li {
            padding: 8px 0;
            a {
              cursor: pointer;
              // font-family: montserrat, sans-serif;
              font-weight: normal;
              font-size: 20px;
              text-decoration: none;
              color: #333333;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .line {
            height: 4px;
            border-radius: 1.5px;
            width: 331px;
            background: #942fe5;
            margin-top: 25px;
            margin-bottom: 35px;
          }
          .address, .p-number {
            // font-family: montserrat, sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #333;
          }
          .address {
            margin-bottom: 10px;
          }
        }
      }
    }
    &.fixed {
      height: 64px;
      .bottom-row {
        .nav-hamburger {
          top: 64px;
        }
      }
    }
  }
  
}

@media screen and (max-width: 375px) {
  .header-mask {
    height: 110px;
  }
  .header {
    height: 110px;
    z-index: 10;
    .top-row {
      max-width: 304px;
      min-height: 36px;
      margin: 5px 0;
      margin-bottom: 0;
      margin-left: 10px;
      .title {
        font-size: 16px;
        letter-spacing: -0.03em;
        font-weight: 600;
      }
    }
    .bottom-row {
      max-width: 304px;
      min-height: 47px;
      .logo > img {
        width: 205px;
        height: auto;
      }
      .nav {
        display: none;
      }
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 23px;
        cursor: pointer;
        span {
          height: 3px;
          width: 38px;
          background: #942fe5;
          border-radius: 3px;
          transition: opacity 0.3s ease, transform 0.5s ease;
        }
        .center-line {
          margin: 7px 0;
        }
        &.active {
          .top-line {
            transform: translateY(10px) rotate(45deg);
          }
          .center-line {
            opacity: 0;
          }
          .bottom-line {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }

      .nav-hamburger {
        list-style-type: none;
        position: fixed;
        overflow-y: auto;
        height: calc(100% - 47px);
        background: #fff;
        max-width: 375px;
        min-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20px;
        padding-right: 0;
        box-shadow: none;
        top: 90px;
        right: 0;
        z-index: 9;
        transform: translateX(100%);
        transition: transform 0.5s ease;
        .nav-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-end;
          li {
            padding: 8px 0;
            a {
              cursor: pointer;
              // font-family: montserrat, sans-serif;
              font-weight: normal;
              font-size: 20px;
              text-decoration: none;
              color: #333333;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .line {
            height: 4px;
            border-radius: 1.5px;
            width: 304px;
            background: #942fe5;
            margin-top: 25px;
            margin-bottom: 35px;
          }
          .address, .p-number {
            // font-family: montserrat, sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #333;
          }
          .address {
            margin-bottom: 10px;
          }
        }
        
      }
    }
    &.fixed {
      height: 64px;
      .bottom-row {
        .nav-hamburger {
          top: 64px;
        }
      }
    }
  }
  
}