<section class="header">
  <div class="top-row">
    <h1 class="title">Студия по наращиванию и продаже натуральных волос №1 в г. Харькове</h1>
  </div>
  <div class="bottom-row">
    <span class="logo">
      <img src="../../assets/imgs/logo.png" alt="logo" />
    </span>
    <nav class="nav">
      <li class="works"><a href="#">Работы</a></li>
      <li class="masters"><a href="#">Мастера</a></li>
      <li class="hairs"><a href="#">Волосы</a></li>
      <li class="prices"><a href="#">Цены</a></li>
      <li class="how"><a href="#">Как мы работаем</a></li>
      <li class="reviews"><a href="#">Отзывы</a></li>
      <li class="contacts"><a href="#">Контакты</a></li>
    </nav>
  </div>
</section>
