<section class="bottom-block">
  <div class="wrapper">
    <div class="info">
      <h1>Обучись модной высокооплачиваемой профессии!</h1>
      <p class="common-master-text">
        Месячный доход мастера по наращиванию волос в г.Харьков:
      </p>
      <p class="common-master-salary">
        от <span>10 000</span> грн до <span>28 000</span> грн
      </p>
      <p class="top-master-text">
        Профессиональный мастер в среднем зарабатывает:
      </p>
      <p class="top-master-salary"><span>53 000</span> грн</p>
      <div class="profit _1">
        <object
          data="assets/obucheniye/icons/money.svg"
          type="image/svg+xml"
        ></object>
        <span>Престижная высокооплачиваемая работа</span>
      </div>
      <div class="profit _2">
        <object
          data="assets/obucheniye/icons/cert.svg"
          type="image/svg+xml"
        ></object>
        <span>Международный Сертификат </span>
      </div>
      <div class="profit _3">
        <object
          data="assets/obucheniye/icons/chair.svg"
          type="image/svg+xml"
        ></object>
        <span>Трудоустройство</span>
      </div>
    </div>
    <div class="order">
      <div class="bg"></div>
      <div class="card">
        <h1>
          Получи <span>20% скидку</span> за предварительную
          регистрацию
        </h1>
        <p>
          Всего 1 ученик на курс
          <br /><br />
          Дата начала курса: <span>{{ course?.courses_date }}</span>
        </p>
        <app-stock-timer
          *ngIf="course?.courses_date"
          [date]="course.courses_date"
          timerId="t2"
          color="#000"
        ></app-stock-timer>
        <app-modal-button theme="prime-hover" windowId="mw3"
          >Записаться</app-modal-button
        >
      </div>
      <div class="circles">
        <div class="wrapper">
          <span class="circle _1"></span>
          <span class="circle _2"></span>
          <span class="circle _3"></span>
        </div>
      </div>
    </div>
  </div>

  <object
    class="goop"
    data="assets/obucheniye/bottom-block/goop.svg"
    type="image/svg+xml"
  ></object>
</section>
