<div class="header-mask"></div>
<section class="header" (scroll)="fixedHeader()">
  <div class="top-row">
    <h1 class="title">
      Студия по наращиванию и продаже натуральных волос №1 в г.
      Харькове
    </h1>
  </div>

  <div class="bottom-row agreement" *ngIf="isAgreement">
    <span routerLink="" class="logo">
      <img src="assets/imgs/logo.png" alt="салон красоты" />
    </span>
  </div>

  <div class="bottom-row" *ngIf="!isAgreement">
    <span class="logo">
      <img src="assets/imgs/logo.png" alt="салон красоты" />
    </span>
    <nav class="nav">
      <li class="works">
        <a (click)="scroll('worksPage')">Работы</a>
      </li>
      <li class="masters">
        <a (click)="scroll('mastersPage')">Мастера</a>
      </li>
      <li class="hairs">
        <a (click)="scroll('hairPalettePage')">Волосы</a>
      </li>
      <li class="prices">
        <a (click)="scroll('pricePage')">Цены</a>
      </li>
      <li class="reviews">
        <a (click)="scroll('reviewsPage')">Отзывы</a>
      </li>
      <li class="contacts">
        <a (click)="scroll('contactsPage')">Контакты</a>
      </li>
      <li class="how">
        <a href="/obucheniye">Обучение</a>
      </li>
    </nav>
    <div class="hamburger" (click)="openMenu()">
      <span class="top-line"></span>
      <span class="center-line"></span>
      <span class="bottom-line"></span>
    </div>
    <nav class="nav-hamburger">
      <div class="nav-wrapper">
        <li class="narashivanie">
          <a (click)="scroll('')">Наращивание волос</a>
        </li>
        <li class="works">
          <a (click)="scroll('worksPage')">Работы</a>
        </li>
        <li class="masters">
          <a (click)="scroll('mastersPage')">Мастера</a>
        </li>
        <li class="hairs">
          <a (click)="scroll('hairPalettePage')">Волосы</a>
        </li>
        <li class="prices">
          <a (click)="scroll('pricePage')">Цены</a>
        </li>
        <li class="reviews">
          <a (click)="scroll('reviewsPage')">Отзывы</a>
        </li>
        <li class="contacts">
          <a (click)="scroll('contactsPage')">Контакты</a>
        </li>
        <li class="obucheniye">
          <a href="/obucheniye">Обучение</a>
        </li>
        <!-- <span class="line"></span> -->
        <object
          class="hair"
          data="assets/obucheniye/icons/hair.svg"
          type="image/svg+xml"
        ></object>
        <p class="address">г. Харьков ул. Каразина, 1</p>
        <p class="p-number">
          <a href="tel:+380633003060">+38 (063) 300 30 60</a>
        </p>
      </div>
    </nav>
  </div>
</section>
