.contacts-page {
  width: 100%;
  min-height: 526px;
  // font-family: montserrat, sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background: #fafafa;
  .map {
    height: 526px;
    width: 58vw;
    right: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    .img {
      top: 0;
      right: 0;
      width: 100%;
      min-height: 526px;
      position: absolute;
      background: url(../../../assets/imgs/contacts-page/map.jpg)
        no-repeat;
      background-size: cover;
      background-position: left;
    }
  }
  .contacts-page-container {
    max-width: 1110px;
    width: 1110px;
    height: 100%;
    min-height: 526px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    .contacts {
      height: 100%;
      margin-left: 0px;
      .title {
        font-size: 36px;
        font-weight: 600;
        color: #000;
        margin-bottom: 68px;
      }
      .info {
        font-size: 22px;
        font-weight: 300;
        color: #333;
        .adress {
          margin-bottom: 30px;
        }
        .work-time {
          margin-bottom: 30px;
        }
        .p-number {
          margin-bottom: 30px;
          a {
            svg {
              margin-right: 20px;
              margin-bottom: -5px;
            }
            text-decoration: none;
            color: #333;
          }
        }
        .inst {
          display: flex;
          color: #333;
          text-decoration: none;
          .inst-ico {
            margin-right: 20px;
          }
        }
        .m-buttons {
          margin-top: 30px;
          a {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .contacts-page {
    min-height: 323px;
    .map {
      height: 323px;
      width: 58vw;
      right: 0;
      position: absolute;
      z-index: 3;
      top: 0;
      .img {
        top: 0;
        right: 0;
        width: 100%;
        min-height: 323px;
        position: absolute;
        background: url(../../../assets/imgs/contacts-page/map.jpg)
          no-repeat;
        background-size: cover;
        background-position: left;
      }
    }
    .contacts-page-container {
      max-width: 649px;
      min-height: 323px;
      .contacts {
        .title {
          font-size: 24px;
          margin-bottom: 36px;
        }
        .info {
          font-size: 14px;
          .adress {
            margin-bottom: 10px;
          }
          .work-time {
            margin-bottom: 10px;
          }
          .p-number {
            margin-bottom: 10px;
            a {
              svg {
                margin-right: 10px;
                margin-bottom: -5px;
                width: 20px;
                height: 20px;
              }
              text-decoration: none;
              color: #333;
            }
          }
          .inst {
            .inst-ico {
              margin-right: 10px;
              width: 20px;
              height: 20px;
            }
          }
          .m-buttons {
            margin-top: 20px;
            margin-bottom: 10px;
            a {
              margin-right: 10px;
              svg {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .contacts-page {
    margin-top: 0px;
    flex-direction: column-reverse;
    min-height: 500px;
    // min-width: 375px;
    overflow: hidden;
    .map {
      height: 250px;
      width: 100vw;
      right: 0;
      position: relative;
      z-index: 3;
      top: 0;
      .img {
        top: 0;
        right: 0;
        width: 100%;
        min-height: 250px;
        position: absolute;
        background: url(../../../assets/imgs/contacts-page/map.jpg)
          no-repeat;
        background-size: cover;
        background-position: left;
      }
    }
    .contacts-page-container {
      max-width: 345px;
      min-height: 250px;
      .contacts {
        z-index: 2;
        margin-top: 20px;
        float: left;
        margin-left: 20px;
        .title {
          font-size: 18px;
          margin-bottom: 36px;
        }
        .info {
          font-size: 14px;
          .adress {
            margin-bottom: 10px;
          }
          .work-time {
            margin-bottom: 10px;
          }
          .p-number {
            margin-bottom: 10px;
          }
          .inst {
            .inst-ico {
              margin-right: 10px;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .contacts-page {
    min-height: 477px;
    margin-top: 0px;
    // min-width: 375px;
    overflow: hidden;
    .map {
      height: 257px;
      width: 100vw;
      right: 0;
      position: relative;
      z-index: 3;
      top: 0;
      .img {
        top: 0;
        right: 0;
        width: 100%;
        min-height: 257px;
        position: absolute;
        background: url(../../../assets/imgs/contacts-page/map.jpg)
          no-repeat;
        background-size: cover;
        background-position: fit;
      }
    }
    .contacts-page-container {
      max-width: 304px;
      min-height: 257px;
      .contacts {
        z-index: 2;
        margin-top: 30px;
        float: left;
        .title {
          font-size: 18px;
          margin-bottom: 26px;
        }
        .info {
          font-size: 14px;
          .adress {
            margin-bottom: 10px;
          }
          .work-time {
            margin-bottom: 10px;
          }
          .p-number {
            margin-bottom: 10px;
          }
          .inst {
            .inst-ico {
              margin-right: 10px;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
