<section
  class="price-page"
  [style.background]="
    !isPrice
      ? 'linear-gradient(90deg, #383838 0%, #121212 100%)'
      : 'none'
  "
  [style.paddingBottom]="!isPrice ? '0px' : '100px'"
>
  <div class="bg" [style.display]="!isPrice ? 'none' : 'block'">
    <div class="mask"></div>
    <img src="assets/imgs/masters-page/bg.jpeg" alt="" />
  </div>
  <div class="price-container" *ngIf="isPrice">
    <p class="title">Цены</p>
    <div class="row">
      <div class="left-col">
        <div class="table">
          <table>
            <tr>
              <td>Категория мастера</td>
              <td>Наращивание волос<br />(до 150 грамм)</td>
              <td>Коррекция<br />(до 150 грамм)</td>
            </tr>
            <tr>
              <td>ТОП мастер</td>
              <td>2000грн</td>
              <td>2200грн</td>
            </tr>
            <tr>
              <td>Стандарт+</td>
              <td>1500грн</td>
              <td>1700грн</td>
            </tr>
            <tr>
              <td>Стандарт</td>
              <td>1000грн</td>
              <td>1200грн</td>
            </tr>
          </table>
        </div>
        <div class="free-consultation">
          <p class="text">Консультация - Бесплатно!</p>
          <app-button-modal-window
            text="Записаться"
            windowId="free-consultation-modal"
          ></app-button-modal-window>
        </div>
      </div>
      <div class="right-col">
        <div class="table">
          <table>
            <tr>
              <td>Снятие (до 150грамм)</td>
              <td>300грн</td>
            </tr>
            <tr>
              <td>Коррекция после другого мастера</td>
              <td>10грн капсула</td>
            </tr>
            <tr>
              <td>Исправление чужих ошибок</td>
              <td>10грн капсула</td>
            </tr>
            <tr>
              <td>Наращивание на цветной кератин</td>
              <td>+300грн</td>
            </tr>
            <tr>
              <td>Холодное наращивание биогелем</td>
              <td>28грн капсула</td>
            </tr>
            <tr>
              <td>Коррекция Холодного наращивания</td>
              <td>30грн капсула</td>
            </tr>
            <tr>
              <td>Снятие холодного наращивания</td>
              <td>1000грн</td>
            </tr>
            <tr>
              <td>Распутывание колтунов</td>
              <td>от 100 до 500грн</td>
            </tr>
            <tr>
              <td>Волосы</td>
              <td>от 1,35 &#36;/г<br />до 1,9 &#36;/г</td>
            </tr>
            <tr>
              <td>Ботокс для волос</td>
              <td>индивидуально</td>
            </tr>
            <tr>
              <td>Кератиновое выпрямление</td>
              <td>индивидуально</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="stock-container" *ngIf="isStock">
    <p
      class="title"
      [style.color]="!isPrice ? '#fff' : '#000'"
      [style.display]="!isPrice ? 'none' : 'block'"
    >
      Акции
    </p>
    <app-stock-carousel *ngIf="!isDesktop"></app-stock-carousel>
    <div class="stock-scroll">
      <div class="stock-wrapper">
        <!-- Без цены -->
        <!-- <app-stock-card
          #stock
          deadline="2019-08-18"
          cookieDeadline="0"
          counterId="counter1"
        >
          <div class="stock-card without-price">
            <div class="cover">
              <img src="" alt="" />
            </div>
            <div class="stock-info">
              <div class="info">
                <p class="title">
                  Закажите<br />от 3х хвостов<br />по оптовой цене,<br />без
                  предоплаты!
                </p>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter1">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Заказать"
                  windowId="stock-1-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card> -->

        <!-- С ценой -->
        <!-- <app-stock-card
          #stock
          deadline="0"
          cookieDeadline="2"
          counterId="counter2"
        >
          <div class="stock-card with-price">
            <div class="cover">
              <img src="" alt="" />
              <div class="lable">
                <div class="triangle"></div>
                <div class="rectangle">
                  <p class="text">Наращивание волос</p>
                </div>
              </div>
            </div>
            <div class="stock-info">
              <div class="info">
                <p class="title">Мастер категории<br />Стандарт+</p>
                <div class="price">
                  <p class="old-price">
                    <span class="line"></span>1000 <span class="grn">грн</span>
                  </p>
                  <p class="new-price">800<span class="grn"> грн</span></p>
                </div>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter2">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Записаться"
                  windowId="stock-2-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card> -->

        <!-- сертификат -->
        <app-stock-card
          *ngIf="isPrice"
          #stock
          deadline="2019-09-30"
          cookieDeadline="0"
          counterId="counter3"
        >
          <div class="stock-card certificate">
            <div class="cover">
              <img src="assets/imgs/stocks/s1.jpg" alt="" />
              <div class="lable">
                <div class="triangle"></div>
                <div class="rectangle">
                  <p class="text">Получи сертификат</p>
                </div>
              </div>
            </div>
            <div class="stock-info">
              <div class="info">
                <!-- <span class="sale">50%</span> -->
                <p class="title">
                  С 01.09 по 30.09<br />Дарим сертификат на
                  наращивание волос
                </p>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter3">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Получить"
                  windowId="stock-3-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card>

        <!-- сертификат -->
        <app-stock-card
          *ngIf="!isPrice"
          #stock
          deadline="2019-09-30"
          cookieDeadline="0"
          counterId="counter4"
        >
          <div class="stock-card certificate">
            <div class="cover">
              <img src="assets/imgs/stocks/s1.jpg" alt="" />
              <div class="lable">
                <div class="triangle"></div>
                <div class="rectangle">
                  <p class="text">Получи сертификат</p>
                </div>
              </div>
            </div>
            <div class="stock-info">
              <div class="info">
                <!-- <span class="sale">50%</span> -->
                <p class="title">
                  С 01.09 по 30.09<br />Дарим сертификат на
                  наращивание волос
                </p>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter4">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Получить"
                  windowId="stock-3-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card>
      </div>
    </div>
  </div>
</section>
