<div class="works-carousel">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides; index as i">
        <img [src]="slide.img" alt="" />
      </div>
    </div>

    <!-- <!-- <div class="swiper-scrollbar"></div> -->
    
  </div>
  <div class="nav">
    <div class="works-swiper-button-prev" (click)="checkSlides()"></div>
    <div class="works-swiper-button-next" (click)="checkSlides()"></div>
  </div>
  <div class="works-swiper-pagination"></div>
</div>
