<footer class="footer">
  <div class="wrapper">
    <div class="left">
      <div class="social">
        <a
          href="https://www.facebook.com/hairhunterskharkov/"
          target="_blank"
        >
          <!-- <object
            data="assets/obucheniye/icons/facebook.svg"
            type="image/svg+xml"
          ></object> -->
          <img src="assets/obucheniye/icons/facebook.svg"/>
        </a>
        <a
          href="https://www.instagram.com/hairhunterskharkov/"
          target="_blank"
        >
          <!-- <object
            data="assets/obucheniye/icons/instagram.svg"
            type="image/svg+xml"
          ></object
        > -->
        <img src="assets/obucheniye/icons/instagram.svg"/>
      </a>
      </div>
      <p class="copyrights">Copyright © 2019 Hair Hunters</p>
    </div>

    <img src="assets/imgs/logo-w.png" alt="" class="logo" />
    <div class="right">
      <div class="messengers">
        <a
          class="telegram"
          title="Telegram"
          href="tg://resolve?domain=@HairHuntersKharkov"
        >
          <!-- <object
            data="assets/obucheniye/icons/telegram.svg"
            type="image/svg+xml"
          ></object> -->
          <img src="assets/obucheniye/icons/telegram.svg"/>
        </a>
        <a
          class="viber"
          title="Viber"
          *ngIf="!isMobileDevice"
          href="viber://chat?number=+380634746018"
        >
          <!-- <object
            data="assets/obucheniye/icons/viber.svg"
            type="image/svg+xml"
          ></object> -->
          <img src="assets/obucheniye/icons/viber.svg"/>
        </a>
        <a
          class="viber"
          title="Viber"
          *ngIf="isMobileDevice"
          href="viber://add?number=380634746018"
        >
          <!-- <object
            data="assets/obucheniye/icons/viber.svg"
            type="image/svg+xml"
          ></object> -->
          <img src="assets/obucheniye/icons/viber.svg"/>
        </a>
        <a
          class="whatsapp"
          title="WhatsApp"
          href="https://wa.me/380634746018"
          target="_blank"
        >
          <!-- <object
            data="assets/obucheniye/icons/whatsapp.svg"
            type="image/svg+xml"
          ></object> -->
          <img src="assets/obucheniye/icons/whatsapp.svg"/>
        </a>
      </div>
      <a class="phone" href="tel:+380634746018"
        >+38 (063) 474 60 18</a
      >
    </div>
  </div>
</footer>
