<section class="profit-one-page">
  <div class="bg"></div>
  <div class="profit-one-page-container">
    <div class="title">Преимущества</div>
    <div class="profit-card-container">
      <div class="profit-card" *ngFor="let profit of profits; index as i">
        <img [src]="profit.img" alt="" class="cover" />
        <div class="lable">
          <div class="rectangle">
            <p [innerHTML]="profit.title"></p>
          </div>
          <div class="triangle"></div>
        </div>
        <p class="text" [innerHTML]="profit.text">
          
        </p>
      </div>
    </div>
  </div>

  <div class="free-consultation">
    <p class="text">Записаться на бесплатную консультацию</p>
    <app-button-modal-window text="Записаться" windowId="free-consultation-modal"></app-button-modal-window>
  </div>
</section>
