.our-hairs-page {
  min-height: 800px;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  .bg {
    width: 110%;
    height: 150%;
    position: absolute;
    z-index: 1;
    top: -50%;
    left: -5%;
  }
  .our-hairs-page-container {
    margin: auto auto;
    max-width: 1110px;
    .title {
      z-index: 2;
      position: relative;
      font-family: montserrat, sans-serif;
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 60px;
    }
    .about-container {
      z-index: 2;
      position: relative;
      display: flex;
      .text {
        font-family: montserrat, sans-serif;
        font-weight: 300;
        font-size: 18px;
        max-width: 589px;
        max-height: 452px;
        line-height: 27px;
      }
      .video {
        margin-left: 33px;
        width: 490px;
        height: 364px;
        background: #c4c4c4;
      }
    }
  }
}

@media screen and (max-width: 1160px) {
  .our-hairs-page {
    min-height: 800px;
    padding-bottom: 100px;
    padding-top: 40px;
    .our-hairs-page-container {
      max-width: 649px;
      .title {
        font-size: 24px;
        margin-bottom: 40px;
      }
      .about-container {
        flex-direction: column;
        .text {
          font-size: 14px;
          max-width: 600px;
          max-height: 291px;
          line-height: 24px;
          .p1 {
            display: none;
          }
        }
        .video {
          margin-left: 0;
          margin-top: 33px;
          width: 649px;
          height: 366px;
        }
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .our-hairs-page {
    min-width: 375px;
    min-height: 840px;
    padding-bottom: 80px;
    padding-top: 0px;
    .our-hairs-page-container {
      max-width: 345px;
      .title {
        font-size: 18px;
        margin-bottom: 20px;
      }
      .about-container {
        flex-direction: column;
        .text {
          font-size: 14px;
          max-width: 345px;
          max-height: 483px;
          line-height: 24px;
          letter-spacing: -0.03em;
          .p1 {
            display: none;
          }
        }
        .video {
          margin-left: 0;
          margin-top: 33px;
          width: 345px;
          height: 191px;
        }
      }
    }
  }
}