<section class="our-hairs-page">
  <object
    class="bg"
    type="image/svg+xml"
    data="../../assets/imgs/our-hairs-page/bg.svg"
  >
    Your browser does not support SVG
  </object>
  <div class="our-hairs-page-container">
    <h1 class="title">Наши волосы</h1>
    <div class="about-container">
      <div class="about">
        <p class="text">
          <b>Hair Hunters</b> - это ведущая фабрика в СНГ по промышленной обработке
          волос. Мы сами закупаем и окрашиваем сырье. Окрашивание волос
          происходит по щадящей технологии, после чего они моются только
          шампунем и бальзамом, без обработки восками и силиконами. Именно по
          этому, после неоднократного мытья они останутся гладкими и ровными, не
          будут пушиться и не собьются в мочалку. У нас Вы всегда можете купить
          натуральные волосы для наращивания лучшего качества, мы на 100%
          уверены в качестве и даем гарантию на волосы - 3 года! 
          <br>
          <br>
          <br>
          На рынке красоты Мы уже более 8 лет и помимо наращивания в нашем салоне,
          отправляем волосы ОПТом мастерам по всей Украине, а так же в другие
          страны: Америка, Европа: Германия, Италия, Греция, Венгрия, Польша
          Румыния, Франция;  Турция, Грузия, Израиль.
        </p>
      </div>
      <div class="video"></div>
    </div>
  </div>
</section>
