<div
  class="type-courses-carousel"
  snInViewport
  (inViewportChange)="onInViewportChange($event)"
>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide _1">
        <figure class="cover">
          <img src="assets/obucheniye/what-choose/indiv.jpg" alt="" />
        </figure>
        <div class="wrapper">
          <div class="info">
            <h1 class="prime">Индивидуальные<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                </span>
                3 полных дня;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >95% практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >полноценная работа на моделях;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >весь цикл наращивания и коррекции;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >контроль ТОП-мастером всех шагов наращивания;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >личное общение и ответы на все вопросы;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >все секреты и наработки ТОП-мастера;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >работа на результат.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide _2">
        <figure class="cover">
          <img src="assets/obucheniye/what-choose/group.jpg" alt="" />
        </figure>

        <div class="wrapper">
          <span class="right-line"></span>
          <span class="left-line"></span>
          <div class="info">
            <h1>Групповые<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >4-8 часов;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >15-30 минут практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >работа с манекеном;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >самостоятельный поиск и проработка 1го клиента;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  >
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >без помощи;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  >
                  <!-- <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object> -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >ответы некоторым участникам группы;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  >
                  <!-- <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object> -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >стандартная программа курса;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="4" viewBox="0 0 15 4" width="15" xmlns="http://www.w3.org/2000/svg"><path d="m0 4h4v15h-4z" fill="#f8d105" transform="matrix(0 -1 1 0 -4 4)"/></svg>
                  </span
                >нет возможности.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide _3">
        <figure class="cover">
          <img
            src="assets/obucheniye/what-choose/online.jpg"
            alt=""
          />
        </figure>
        <div class="wrapper">
          <div class="info">
            <h1>On-Line<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="12" viewBox="0 0 15 12" width="15" xmlns="http://www.w3.org/2000/svg"><g fill="#68d887"><path d="m0 5.48036 2.89959-3.00002 6.30137 6.51963-2.89959 3.00003z"/><path d="m9.20096 8.99997-2.89974-2.99992 5.79918-6.00005 2.8996 3.00003z"/></g></svg>
                  </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >несколько видео-уроков по 1,5-2часа;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >без практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >без модели;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >самостоятельный поиск и проработка 1го клиента;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >нет возможности;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >общение в чате (если доступно);
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >записанная программа курса;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <!-- <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object>  -->
                  <svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg"><g fill="#ee7272"><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(-.7071 -.707114 .7071 -.707114 2.73633 13)"/><path d="m0 0h3.87043v14.5141h-3.87043z" transform="matrix(.7071 -.707114 .7071 .707114 0 2.73682)"/></g></svg>
                  </span
                >нет возможности.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
