<div
  class="type-courses-carousel"
  snInViewport
  (inViewportChange)="onInViewportChange($event)"
>
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide _1">
        <figure class="cover">
          <img src="assets/obucheniye/what-choose/indiv.jpg" alt="" />
        </figure>
        <div class="wrapper">
          <div class="info">
            <h1 class="prime">Индивидуальные<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >3 полных дня;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >95% практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >полноценная работа на моделях;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >весь цикл наращивания и коррекции;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >контроль ТОП мастером всех шагов наращивания;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >личное общение и ответы на все вопросы;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >все секреты и наработки ТОП мастера;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >работа на результат;
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide _2">
        <figure class="cover">
          <img src="assets/obucheniye/what-choose/group.jpg" alt="" />
        </figure>

        <div class="wrapper">
          <span class="right-line"></span>
          <span class="left-line"></span>
          <div class="info">
            <h1>Груповые<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object> </span
                >4-8 часов;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object> </span
                >15-30 минут практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object> </span
                >работа с манекеном;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >самостоятельный поиск и проработка 1го клиента;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  ><object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object></span
                >без помощи;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  ><object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object></span
                >ответы некоторым участникам группы;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon"
                  ><object
                    data="assets/obucheniye/icons/dash.svg"
                    type="image/svg+xml"
                  ></object></span
                >стандартная программа курса;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >нет возможности.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide _3">
        <figure class="cover">
          <img
            src="assets/obucheniye/what-choose/online.jpg"
            alt=""
          />
        </figure>
        <div class="wrapper">
          <div class="info">
            <h1>On-Line<br />курсы</h1>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/ok.svg"
                    type="image/svg+xml"
                  ></object> </span
                >теория;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >несколько видео-уроков по 1,5-2часа;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >без практики;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >без модели;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >самостоятельный поиск и проработка 1го клиента;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >нет возможности;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >общение в чате (если доступно);
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >записанная программа курса;
              </p>
            </div>
            <div class="cell">
              <p class="text">
                <span class="icon">
                  <object
                    data="assets/obucheniye/icons/x.svg"
                    type="image/svg+xml"
                  ></object> </span
                >нет возможности.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
