.button-modal-window,
.button-link {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #942fe5;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: none;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  // font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  p {
    position: relative;
    z-index: 2;
    display: block;
    pointer-events: none;
  }
  a {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 50px;
    min-width: 200px;
    text-align: center;
    padding-top: 12px;
  }
  .puls-wrapper {
    // display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    transform-origin: center center;
    transition: transform 0.3s linear;
    .puls,
    .puls-2 {
      pointer-events: none;
      position: absolute;
      border-radius: 100px;
      background: radial-gradient(34.2px at 50% 50%, #942fe5 0%, #ffffff 100%);
      display: block;
      margin: auto;
      width: 34px;
      height: 34px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      filter: blur(0px);
      opacity: 0;
      content: "";
      animation: bounce 2.7s ease infinite;
    }
    .puls-2 {
      animation: bounce 2.7s 300ms ease infinite;
    }
  }
}

.button-link {
  padding: 0 0 !important;
  margin: 0;
}

@media screen and (max-width: 1160px) {
  .button-modal-window,
  .button-link {
    padding: 0 20px;
    min-width: 137px;
    height: 34px;
    // font-family: montserrat, sans-serif;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      height: 34px;
      min-width: 137px;
      text-align: center;
      padding-top: 8px;
    }
    .puls-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      transform-origin: center center;
      transition: transform 0.3s linear;
      .puls,
      .puls-2 {
        pointer-events: none;
        position: absolute;
        border-radius: 100px;
        background: radial-gradient(34.2px at 50% 50%, #942fe5 0%, #ffffff 100%);
        display: block;
        margin: auto;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        filter: blur(0px);
        opacity: 0;
        content: "";
        transform: scale(0);
        animation: bounce-m 2.5s ease infinite;
      }
      .puls-2 {
        animation: bounce-m 2.5s 200ms ease infinite;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
    transform: scale(12);
  }
  100% {
    opacity: 0;
    transform: scale(12);
  }
}

@keyframes bounce-m {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
    transform: scale(8);
  }
  100% {
    opacity: 0;
    transform: scale(8);
  }
}
