.works-page {
  width: 100%;
  height: 664px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .bg {
    position: absolute;
    z-index: 1;
    width: 110%;
    left: -5%;
    height: 100%;
    object-fit: fill;
  }
  .works-page-container {
    position: relative;
    z-index: 2;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    .title {
      color: #fff;
      margin-bottom: 20px;
      // font-family: montserrat, sans-serif;
      font-size: 36px;
      font-weight: 600;
    }

  }
}

@media screen and (max-width: 1160px) {
  .works-page {
    height: 387px;
    .works-page-container {
      max-width: 649px;
      .title {
        margin-bottom: 20px;
        font-size: 24px;
      }
  
    }
  }
}

@media screen and (max-width: 690px) {
  .works-page {
    // min-width: 375px;
    height: 470px;
    .bg {
      position: absolute;
      z-index: 1;
      width: 110%;
      left: -5%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
    .works-page-container {
      max-width: 345px;
      .title {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .works-page {
    // min-width: 375px;
    align-items: flex-start;
    height: 450px;
    .bg {
      position: absolute;
      z-index: 1;
      width: 110%;
      left: -5%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
    .works-page-container {
      margin-top: 30px;
      max-width: 304px;
      .title {
        margin-bottom: 20px;
        font-size: 18px;
      }
    }
  }
}