<section class="courses-block">
  <div class="wrapper">
    <h1>Программы курсов</h1>
    <div class="courses">
      <article class="course _1">
        <figure class="cover">
          <img src="assets/obucheniye/courses/keratin.jpg" alt="" />
        </figure>
        <div class="info">
          <h1>КЕРАТИН</h1>
          <p class="description">
            Индивидуальный 3-х дневный курс по Наращиванию волос
            "Итальянская техника на кератин" - авторский метод от
            ТОП-мастера Украины
          </p>
          <span class="line l1"></span>
          <h2>Капсуляция волос без потерь</h2>
          <p class="point"><span class="number">1.</span>С хвоста;</p>
          <p class="point"><span class="number">2.</span>С карды;</p>
          <p class="point">
            <span class="number">3.</span>С руки (авторский метод!).
          </p>
          <h2>Разбор типов волос</h2>
          <p class="point">
            <span class="number">4.</span>Какие виды волос бывают;
          </p>
          <p class="point">
            <span class="number">5.</span>Структура волос;
          </p>
          <p class="point">
            <span class="number">6.</span>Как отличать хорошие волосы
            от плохих;
          </p>
          <p class="point">
            <span class="number">7.</span>Вы узнаете секреты правды и
            мифов от производителей.
          </p>
          <h2>
            Обучим непринуждённо и правильно общаться с клиентом
          </h2>
          <p class="point">
            <span class="number">8.</span>С чего начинать
            консультацию;
          </p>
          <p class="point">
            <span class="number">9.</span>Как грамотно подобрать
            количество волос, длину;
          </p>
          <p class="point">
            <span class="number">10.</span>Подбор по структуре и
            цвету;
          </p>
          <p class="point">
            <span class="number">11.</span>Все тонкости правил ухода
            за нарощенными волосами;
          </p>
          <p class="point">
            <span class="number">12.</span>Как стать любимчиком
            клиенток, чтобы они приходили к вам 4 раза в год.
          </p>
          <h2>Формирование капсул</h2>
          <p class="point">
            <span class="number">13.</span>Стандартные;
          </p>
          <p class="point">
            <span class="number">14.</span>Микро-капсулы;
          </p>
          <p class="point">
            <span class="number">15.</span>Нано-капсулы.
          </p>
          <h2>Оттяжка волос, что это и для чего она нужна</h2>
          <p class="point">
            <span class="number">16.</span>Оттяжка – основа
            профессионального наращивания;
          </p>
          <p class="point">
            <span class="number">17.</span>Последствия неправильной
            оттяжки.
          </p>
          <h2>Практика</h2>
          <p class="point">
            <span class="number">18.</span>Капсуляция;
          </p>
          <p class="point">
            <span class="number">19.</span>Отработка техники на
            манекене.
          </p>
          <h2>Практика на моделях</h2>
          <p class="point">
            <span class="number">20.</span>Наращивание по зонам
            разными вариантами;
          </p>
          <p class="point">
            <span class="number">21.</span>Полная процедура
            наращивания и коррекция;
          </p>
          <p class="point">
            <span class="number">22.</span>Вы полностью работаете с
            моделью, от капсуляции до стрижки с укладкой.
          </p>
          <span class="line l2"></span>
          <h3>Бонус 1:</h3>
          <p class="bonus">
            Новый способ наращивания - незаметная, скрытая техника на
            кератин.
          </p>
          <h3>Бонус 2:</h3>
          <p class="bonus">
            Как отрастить клиенту длину его собственных волос.
          </p>
          <h3>Бонус 3:</h3>
          <p class="bonus">
            Как правильно построить работу и получать множество
            клиенток, не тратя денег на рекламу.
          </p>
          <h2>95% практики на занятиях!</h2>
          <h2>Предоставим в рамках обучения</h2>
          <p class="bonus">
            2 модели, инструменты, расходные материалы, волосы.
          </p>
          <span class="line l3"></span>
          <h2>
            По окончании курсов вы получите сертификат международного
            образца.
          </h2>
          <h2>
            Лучшим выпускникам курса мы предлагаем трудоустройство
            в нашем салоне.
          </h2>
          <span class="line l4"></span>
          <p class="date">
            Дата начала курса:
            <span>{{ course?.courses_date }}</span>
          </p>
          <app-stock-timer
            style="margin: 0 auto;"
            *ngIf="course?.courses_date"
            date="{{ course?.courses_date }}"
            timerId="t3"
            color="#000"
          ></app-stock-timer>
          <p class="price" *ngIf="isPrice">Стоимость:</p>
          <div class="sale" *ngIf="isPrice">
            <span class="old">
              <span class="old-line"></span>
              12500грн
            </span>
            <span class="new">9950грн</span>
          </div>
          <app-modal-button
            style="margin-left: calc(50% - 100px); margin-top: 30px;"
            theme="prime"
            windowId="mw1"
            >Записаться</app-modal-button
          >
        </div>
      </article>
      <article class="course _2">
        <figure class="cover">
          <img
            src="../../../assets/obucheniye/courses/bio.jpg"
            alt=""
          />
        </figure>
        <div class="info">
          <h1>БИОГЕЛЬ</h1>
          <p class="description">
            Эксклюзив!<br />
            Индивидуальный 2-х дневный курс по Наращиванию волос
            "Испанская клеевая техника (Холодное наращивание) на
            БиоГель" от единственного ТОП-мастера владеющего этим
            методом в Харькове.
          </p>
          <span class="line l1"></span>
          <h2>Разбор типов волос</h2>
          <p class="point">
            <span class="number">1.</span>Какие виды волос бывают;
          </p>
          <p class="point">
            <span class="number">2.</span>Структура волос;
          </p>
          <p class="point">
            <span class="number">3.</span>Как отличать хорошие волосы
            от плохих;
          </p>
          <p class="point">
            <span class="number">4.</span>Какие волосы не подходят для
            наращивания на БиоГель;
          </p>
          <p class="point">
            <span class="number">5.</span>Вы узнаете секреты правды и
            мифов от производителей.
          </p>
          <h2>
            Обучим непринуждённо и правильно общаться с клиентом
          </h2>
          <p class="point">
            <span class="number">6.</span>С чего начинать
            консультацию;
          </p>
          <p class="point">
            <span class="number">7.</span>Как грамотно подобрать
            количество волос, длину;
          </p>
          <p class="point">
            <span class="number">8.</span>Подбор по структуре и цвету;
          </p>
          <p class="point">
            <span class="number">9.</span>Все тонкости правил ухода за
            нарощенными волосами;
          </p>
          <p class="point">
            <span class="number">10.</span>Как стать любимчиком
            клиенток, чтобы они приходили к вам 4 раза в год.
          </p>
          <h2>Оттяжка волос, что это и для чего она нужна</h2>
          <p class="point">
            <span class="number">11.</span>Оттяжка – основа
            профессионального наращивания;
          </p>
          <p class="point">
            <span class="number">12.</span>Последствия неправильной
            оттяжки.
          </p>
          <h2>Скрытая техника крепления волос</h2>
          <p class="point">
            <span class="number">13.</span>Как делать капсулы
            невидимки?
          </p>
          <p class="point">
            <span class="number">14.</span>Без «влипаний в клей»;
          </p>
          <p class="point">
            <span class="number">15.</span>Легкое безопасное снятие;
          </p>
          <p class="point">
            <span class="number">16.</span>Формирование гладких
            удобных капсул;
          </p>
          <p class="point">
            <span class="number">17.</span>Самый легкий и понятный
            формат обучения, самой сложной технике в мире.
          </p>
          <h2>Практика</h2>
          <p class="point">
            <span class="number">18.</span>Капсуляция;
          </p>
          <p class="point">
            <span class="number">19.</span>Отработка техники на
            манекене.
          </p>
          <h2>Практика на моделях</h2>
          <p class="point">
            <span class="number">20.</span>Наращивание по зонам
            разными вариантами;
          </p>
          <p class="point">
            <span class="number">21.</span>Полная процедура
            наращивания и коррекция;
          </p>
          <p class="point">
            <span class="number">22.</span>Вы полностью работаете с
            моделью, от капсуляции до стрижки с укладкой.
          </p>
          <span class="line l2"></span>
          <h3>Бонус 1:</h3>
          <p class="bonus">
            Особенности формирования БиоГелевых капсул в зависимости
            от структуры волос.
          </p>
          <h3>Бонус 2:</h3>
          <p class="bonus">
            Как отрастить клиенту длину его собственных волос.
          </p>
          <h3>Бонус 3:</h3>
          <p class="bonus">
            Как правильно построить работу и получать множество
            клиенток, не тратя денег на рекламу.
          </p>
          <h2>95% практики на занятиях!</h2>
          <h2>Предоставим в рамках обучениЯ</h2>
          <p class="bonus">
            2 модели, инструменты, расходные материалы, волосы.
          </p>
          <span class="line l3"></span>
          <h2>
            По окончании курсов вы получите сертификат международного
            образца.
          </h2>
          <h2>
            Лучшим выпускникам курса мы предлагаем трудоустройство
            в нашем салоне.
          </h2>
          <h2>
            Вы научитесь делать самые изящные и дорогостоящие работы.
          </h2>
          <span class="line l4"></span>
          <p class="date">
            Дата начала курса:
            <span>{{ course?.courses_date }}</span>
          </p>
          <app-stock-timer
            style="margin: 0 auto;"
            *ngIf="course?.courses_date"
            date="{{ course?.courses_date }}"
            timerId="t4"
            color="#000"
          ></app-stock-timer>
          <p class="price" *ngIf="isPrice">Стоимость:</p>
          <div class="sale" *ngIf="isPrice">
            <span class="old">
              30600грн
              <span class="old-line"></span>
            </span>
            <span class="new">24480грн</span>
          </div>
          <app-modal-button
            style="margin-left: calc(50% - 100px); margin-top: 30px;"
            theme="prime"
            windowId="mw2"
            >Записаться</app-modal-button
          >
        </div>
      </article>
    </div>
  </div>

  <div class="circles">
    <span class="circle _1"></span>
    <span class="circle _2"></span>
    <span class="circle _3"></span>
  </div>

  <img
    src="assets/obucheniye/courses/cert.png"
    alt=""
    class="certificate"
  />
  <object
    class="goop"
    data="../../../assets/obucheniye/courses/goop.svg"
    type="image/svg+xml"
  ></object>
</section>
