.button-modal-window,
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #942fe5;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: none;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  // font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  p {
    position: relative;
    z-index: 2;
    display: block;
    pointer-events: none;
  }
  a {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 50px;
    min-width: 200px;
    text-align: center;
    padding-top: 12px;
  }
  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    transition: transform 0.2s linear;
  }
  .puls-wrapper {
    // display: none;
    position: relative;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none;
    transform-origin: center center;
    transition: transform 0.3s linear;
    transform: translate(calc(100px - 50%), calc(100px - 50%));
    .puls,
    .puls-2 {
      transform-origin: center;
      pointer-events: none;
      position: absolute;
      border-radius: 50%;
      background: #942fe5;
      box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.98);
      margin: auto;
      width: 1px;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 0;
      animation: bounce 2.7s linear infinite;
    }
    .puls-2 {
      animation: bounce 2.7s 300ms linear infinite;
    }
  }
}

.button-link {
  padding: 0 0 !important;
  margin: 0;
}

@media screen and (max-width: 1160px) {
  .button-modal-window,
  .button-link {
    padding: 0 20px;
    min-width: 137px;
    height: 34px;
    // font-family: montserrat, sans-serif;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      height: 34px;
      min-width: 137px;
      text-align: center;
      padding-top: 8px;
    }
    .wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 137px;
      height: 137px;
      margin: auto;
      transition: transform 0.2s linear;
    }
    .puls-wrapper {
      // display: none;
      position: relative;
      width: 600px;
      height: 600px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      pointer-events: none;
      transform-origin: center center;
      transition: transform 0.3s linear;
      transform: translate(calc(68.5px - 50%), calc(68.5px - 50%));
      .puls,
      .puls-2 {
        transform-origin: center;
        pointer-events: none;
        position: absolute;
        border-radius: 50%;
        background: #942fe5;
        box-shadow: inset 0px 0px 11px rgba(255, 255, 255, 0.98);
        margin: auto;
        width: 1px;
        height: 1px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0;
        animation: bounce 2.7s linear infinite;
      }
      .puls-2 {
        animation: bounce 2.7s 300ms linear infinite;
      }
    }
  }
}

@keyframes bounce {
  0% {
    width: 0;
    height: 0;
    opacity: 0.75;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes bounce-m {
  0% {
    width: 0;
    height: 0;
    opacity: 0.75;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}
