.how-work-page {
  position: relative;
  min-height: 1165px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg {
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 1;
    display: block;
  }
  .how-work-page-container {
    max-width: 1110px;
    position: relative;
    z-index: 2;
    .title {
      font-family: montserrat, sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 70px;
    }
    .row {
      display: flex;
      .left-col {
        margin-right: 70px;
      }
      .left-col,
      .right-col {
        width: 510px;
        .step {
          position: relative;
          margin-bottom: 58px;
          .num {
            z-index: 0;
            position: absolute;
            top: -30px;
            left: 0;
            font-family: montserrat, sans-serif;
            font-size: 48px;
            font-weight: 600;
            color: #e8cbff;
          }
          .text {
            position: relative;
            z-index: 1;
            font-family: montserrat, sans-serif;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
    .free-consultation {
      z-index: 1;
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text {
        font-family: montserrat, sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #000;
      }
      app-button-modal-window {
        margin-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 1160px) { 
  .how-work-page {
    padding-top: 90px;
    min-height: 826px;
    .how-work-page-container {
      max-width: 649px;
      .title {
        font-size: 24px;
        margin-bottom: 40px;
      }
      .row {
        .left-col {
          margin-right: 20px;
        }
        .left-col,
        .right-col {
          width: 315px;
          .step {
            margin-bottom: 40px;
            .num {
              top: -17px;
              font-size: 30px;
            }
            .text {
              font-size: 14px;
            }
          }
        }
      }
      .free-consultation {
        margin-top: 12px;
        .text {
          font-size: 16px;
        }
        app-button-modal-window {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 690px) { 
  .how-work-page {
    padding-top: 90px;
    min-height: unset;
    // min-width: 375px;
    .how-work-page-container {
      max-width: 345px;
      .title {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .row {
        flex-direction: column;
        .left-col {
          margin-right: 0px;
        }
        .left-col,
        .right-col {
          width: 345px;
          .step {
            margin-bottom: 16px;
            .num {
              top: -10px;
              font-size: 24px;
            }
            .text {
              font-size: 14px;
            }
          }
        }
      }
      .free-consultation {
        margin-top: 12px;
        .text {
          font-size: 16px;
          letter-spacing: -0.03em;
        }
        app-button-modal-window {
          margin-top: 20px;
        }
      }
    }
  }
}