<app-modal-menu></app-modal-menu>
<header class="header" *ngIf="isNav">
  <div class="header-wrapper">
    <img
      style="cursor: pointer;"
      (click)="scroll('main')"
      src="assets/imgs/logo.png"
      alt="hair hunters"
      class="logo"
    />
    <nav>
      <a (click)="scroll('teacher')" class="">Преподаватель</a>
      <a (click)="scroll('courses')" class="">Программа курса</a>
      <a (click)="scroll('what')" class="">Что выбрать?</a>
      <a (click)="scroll('profit')" class="">Выгоды</a>
      <a href="/narashivanie" class="">Наращивание волос</a>
    </nav>
    <app-hamburger-menu [status]="false"></app-hamburger-menu>
  </div>
</header>
<header class="header block" *ngIf="!isNav">
  <div class="header-wrapper">
    <img
      src="assets/imgs/logo.png"
      alt="hair hunters"
      [routerLink]="['/obucheniye']"
      class="logo"
    />
  </div>
</header>
