<section class="modal-menu">
  <img src="assets/imgs/logo.png" class="logo" alt="" />
  <app-hamburger-menu [status]="true"></app-hamburger-menu>
  <a (click)="scroll('main')" class="first">Обучение</a>
  <a (click)="scroll('teacher')" class="first-anchor"
    >Преподаватель</a
  >
  <a (click)="scroll('courses')" class="first-anchor"
    >Программа курса</a
  >
  <a (click)="scroll('what')" class="first-anchor">Что выбрать?</a>
  <a (click)="scroll('profit')" class="first-anchor">Выгоды</a>
  <a href="/narashivanie" class="second">Наращивание волос</a>
  <!-- <object
    class="hair"
    data="assets/obucheniye/icons/hair.svg"
    type="image/svg+xml"
  ></object> -->
  <img class="hair" src="assets/obucheniye/icons/hair.svg" />
  <p class="address">г. Харьков ул. Каразина, 1</p>
  <a class="phone" href="tel:+380634746018">0 (63) 474 60 18</a>
  <div class="messengers">
    <!-- telegram @HairHuntersKharkov -->
    <a
      class="telegram"
      title="Telegram"
      href="tg://resolve?domain=@HairHuntersKharkov"
    >
      <!-- <object
        data="assets/obucheniye/icons/telegram.svg"
        type="image/svg+xml"
      ></object> -->
      <img src="assets/obucheniye/icons/telegram.svg" />
    </a>
    <!-- viber desktop -->
    <a
      class="viber"
      title="Viber"
      *ngIf="!isMobileDevice"
      href="viber://chat?number=+380634746018"
    >
      <!-- <object
        data="assets/obucheniye/icons/viber.svg"
        type="image/svg+xml"
      ></object> -->
      <img src="assets/obucheniye/icons/viber.svg" />
    </a>
    <!-- viber phone -->
    <a
      class="viber"
      title="Viber"
      *ngIf="isMobileDevice"
      href="viber://add?number=380634746018"
    >
      <!-- <object
        data="assets/obucheniye/icons/viber.svg"
        type="image/svg+xml"
      ></object> -->
      <img src="assets/obucheniye/icons/viber.svg" />
    </a>
    <!-- whatsApp -->
    <a
      class="whatsapp"
      title="WhatsApp"
      href="https://wa.me/380634746018"
      target="_blank"
    >
      <!-- <object
        data="assets/obucheniye/icons/whatsapp.svg"
        type="image/svg+xml"
      ></object> -->
      <img src="assets/obucheniye/icons/whatsapp.svg" />
    </a>
  </div>
</section>
