.stock-carousel {
  max-width: 1920px;
  .swiper-container {
    .swiper-slide {
      width: 350px;
      height: 567px;
      //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      border-radius: 3px;
      //transition: height 0.4s;
      background: #555;
      img {
        object-fit: cover;
        width: 350px;
        height: 567px;
        border-radius: 3px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
