<section class="teacher-block">
  <div class="wrapper">
    <h1>О преподавателе</h1>
    <div class="content-wrapper">
      <figure>
        <img src="assets/obucheniye/teacher/teacher.jpeg" alt="" />
        <figcaption>
          <p>
            “Я раскрою все секреты, наработанные за 5 лет
            беспрерывного опыта в наращивании волос.”
          </p>
        </figcaption>
      </figure>
      <article>
        <h2>Евгения Валериевна</h2>
        <h3>
          ТОП-мастер по наращиванию волос №1 в Украине.<br />
          Личная авторская методика.
        </h3>
        <p class="text">
          <span class="line"></span>Руководитель студии по наращиванию
          волос Hair Hunters;
        </p>
        <p class="text">
          <span class="line"></span>Технолог фабрики Hair Hunters по
          промышленной обработке волос;
        </p>
        <p class="text">
          <span class="line"></span>Дипломированный мастер-парикмахер;
        </p>
        <p class="text">
          <span class="line"></span>Наращивает волосы с 2014 года;
        </p>
        <p class="text">
          <span class="line"></span>Беспрерывная практика по 1-2
          наращивания в день;
        </p>
        <p class="text">
          <span class="line"></span>Постоянно совершенствует свой
          профессионализм у лучших мастеров Москвы и Нью-Йорка;
        </p>
        <p class="text">
          <span class="line"></span>Благодаря процедуре наращивания
          волос, отрастила свои волосы от плеч до поясницы;
        </p>
        <p class="text">
          <span class="line"></span>В совершенстве владеет Итальянской
          техникой наращивания на Кератин (Горячее наращивание);
        </p>
        <p class="text">
          <span class="line"></span>Профессионально владеет ТОПовой
          Испанской техникой наращивания на БиоГель (Холодное
          наращивание);
        </p>
        <p class="text important">
          <span class="line"></span>Только 3 дня в месяц мастер
          проводит индивидуальное обучение. Ваша задача определиться с
          курсом и вовремя записаться.
        </p>
      </article>
    </div>
  </div>
  <object
    data="assets/obucheniye/teacher/bg.svg"
    type="image/svg+xml"
    class="bg"
  ></object>
  <object
    data="assets/obucheniye/teacher/xs-bg.svg"
    type="image/svg+xml"
    class="xs-bg"
  ></object>
  <img
    class="forceps"
    src="assets/obucheniye/teacher/forceps.png"
    alt=""
  />
  <div class="circles">
    <span class="circle _1"></span>
    <span class="circle _2"></span>
    <span class="circle _3"></span>
  </div>
</section>
