<section class="profit-one-page">
  <img class="bg" src="../../assets/imgs/profit-one-page/bg.png" alt="" />

  <div class="profit-card-container">
    <div class="profit-card" *ngFor="let profit of profits; index as i">
      <div class="title">
        <span>{{ i + 1 }}</span>
        <h3>{{ profit.title }}</h3>
      </div>
      <p class="text">
        {{ profit.text }}
      </p>
    </div>
  </div>

  <div class="free-consultation">
    <p class="text">Записаться на бесплатную консультацию</p>
    <button>Записаться</button>
  </div>
</section>
