<section class="profit-one-page">
  <object
    class="bg"
    type="image/svg+xml"
    data="../../assets/imgs/profit-one-page/bg2.svg"
  >
    Your browser does not support SVG
  </object>
  <!-- <img class="bg" src="../../assets/imgs/profit-one-page/bg2.svg" alt="" /> -->

  <div class="profit-one-page-container">
    <div class="title">Выгоды</div>
    <div class="profit-card-container">
      <div class="profit-card" *ngFor="let profit of profits; index as i">
        <img [src]="profit.img" alt="" class="cover" />
        <div class="lable">
          <div class="rectangle">
            <p [innerHTML]="profit.title"></p>
          </div>
          <div class="triangle"></div>
        </div>
        <p class="text" [innerHTML]="profit.text">
          
        </p>
      </div>
    </div>
  </div>

  <div class="free-consultation">
    <p class="text">Записаться на бесплатную консультацию</p>
    <button>Записаться</button>
  </div>
</section>
