.profit-one-page {
  width: 100%;
  min-height: 1805px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 250px;
  padding-bottom: 150px;
  .bg {
    width: 110%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5%;
    z-index: 1;
    //object-fit: fill;
    display: block;
  }
  .profit-one-page-container {
    max-width: 1140px;
    .title {
      position: relative;
      z-index: 2;
      margin-bottom: 30px;
      font-family: montserrat, sans-serif;
      font-weight: 600;
      font-size: 36px;
      color: #fff;
      margin-left: 15px;
    }
    .profit-card-container {
      min-height: 1260px;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      .profit-card {
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: relative;
        width: 540px;
        height: 430px;
        background: #fff;
        margin: 15px;
        box-sizing: content-box;
        .cover {
          width: 540px;
          height: 238px;
          background: #c4c4c4;
          display: block;
        }
        .lable {
          position: absolute;
          left: 0;
          top: 185px;
          display: flex;
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
          //transform: matrix(-1, 0, 0, 1, 0, 0);
          .triangle {
            height: 0;
            width: 0;
            border-bottom: 64px solid #fff;
            border-right: 17px solid transparent;
          }
          .rectangle {
            height: 64px;
            background: #fff;
            display: flex;
            align-items: center;
            p {
              line-height: 26px;
              margin-left: 20px;
              margin-right: 12px;
              position: relative;
              z-index: 1;
              font-family: montserrat, sans-serif;
              font-weight: 600;
              font-size: 24px;
              color: #942fe5;
            }
          }
        }
        .text {
          font-family: montserrat, sans-serif;
          font-size: 16px;
          font-weight: 300;
          color: #000;
          margin-top: 33px;
          padding: 0 20px;
          line-height: 24px;
        }
      }
    }
  }

  .free-consultation {
    z-index: 1;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      font-family: montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
    }
    button {
      margin-top: 15px;
      cursor: pointer;
      bottom: 30px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: #942fe5;
      border-radius: 3px;
      border: none;
      width: 200px;
      height: 50px;
      font-family: montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
      &:hover {
        transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        background: #9a35ec;
      }
    }
  }
}
