<section class="what-choose-block">
  <div class="wrapper">
    <h1>Хочу наращивать<br />профессионально!</h1>
    <h2>Что же выбрать?</h2>
    <div class="mask"></div>
    <app-type-courses-carousel
      class="carousel-block"
    ></app-type-courses-carousel>
    <div class="quote">
      <h3>
        “Все тонкости мастерства можно передать только в практике при
        индивидуальном обучении”
      </h3>
      <p>преподаватель <mark>Евгения Валериевна</mark></p>
    </div>
  </div>
  <app-type-courses-carousel
    class="carousel"
  ></app-type-courses-carousel>
</section>
