<section class="what-choose-block">
  <div class="wrapper">
    <h1>Хочу наращивать<br />профессионально!</h1>
    <h2>Что же выбрать?</h2>
    <span class="arrow">
      <svg
        width="26"
        height="18"
        viewBox="0 0 26 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26 8.92166L16.9872 18L15.5967 16.5996L22.2366 9.91199H0V7.93133H22.2357L15.7513 1.40039L17.1418 0L26 8.92166Z"
          fill="#942FE5"
        />
      </svg>
    </span>
    <div class="mask"></div>
    <app-type-courses-carousel
      class="carousel-block"
    ></app-type-courses-carousel>
    <div class="quote">
      <h3>
        “Все тонкости мастерства можно передать только в практике при
        индивидуальном обучении”
      </h3>
      <p>преподаватель <mark>Евгения Валериевна</mark></p>
    </div>
  </div>
  <app-type-courses-carousel
    class="carousel"
  ></app-type-courses-carousel>
</section>
