<app-header></app-header>
<app-works-page></app-works-page>
<app-masters-page></app-masters-page>
<app-profit-one-page></app-profit-one-page>
<app-our-hairs-page></app-our-hairs-page>
<app-profit-two-page></app-profit-two-page>
<app-hair-palette-page></app-hair-palette-page>
<app-price-page></app-price-page>
<app-how-work-page></app-how-work-page>
<app-reviews-page></app-reviews-page>
<app-contacts-page></app-contacts-page>
<app-footer></app-footer>

<!-- MODAL WINDOWS -->

<app-modal-window windowId="first-master-modal">
  <div class="first-master-container masters-container">
    <img src="../assets/imgs/masters-page/first-m.png" alt="" />
    <div class="form-container">
        <app-modal-window-form></app-modal-window-form>
    </div>
  </div>
</app-modal-window>
<app-modal-window windowId="second-master-modal">
  <div class="second-master-container masters-container">
    <img src="" alt="" />
  </div>
</app-modal-window>
<app-modal-window windowId="third-master-modal">
  <div class="third-master-container masters-container">
    <img src="" alt="" />
    <div class="form"></div>
  </div>
</app-modal-window>
<app-modal-window windowId="free-consultation-modal">
  <div class="free-consultation-container">
    <img src="" alt="" />
    <div class="form"></div>
  </div>
</app-modal-window>
<app-modal-window windowId="stock-modal-1">
  <div class="stock-container">
    <img src="" alt="" />
    <div class="form"></div>
  </div>
</app-modal-window>
<app-modal-window windowId="stock-modal-2">
  <div class="stock-container">
    <img src="" alt="" />
    <div class="form"></div>
  </div>
</app-modal-window>
