<app-header></app-header>
<app-works-page id="worksPage"></app-works-page>
<app-masters-page id="mastersPage"></app-masters-page>
<app-profit-one-page id="profitOnePage"></app-profit-one-page>
<app-our-hairs-page id="ourHairsPage"></app-our-hairs-page>
<app-profit-two-page id="profitTwoPage"></app-profit-two-page>
<app-hair-palette-page id="hairPalettePage"></app-hair-palette-page>
<app-price-page id="pricePage"></app-price-page>
<app-how-work-page id="howWorkPage"></app-how-work-page>
<app-reviews-page id="reviewsPage"></app-reviews-page>
<app-contacts-page id="contactsPage"></app-contacts-page>
<app-footer></app-footer>