<section class="cookies-page">
  <app-header isAgreement="true"></app-header>
  <div class="cookies-wrapper">
    <h1>Cookie</h1>
    <p>
      Мы используем технологию cookie с целью предложить вам более
      персонализированный и качественный веб-сервис. В настоящем Положении
      HairHunters об использовании cookie-файлов, мы предоставим вам полную
      информацию о том, как и для каких целей мы используем cookie-файлы на этом
      веб-сайте.
      <br />
      <br />
      Любые изменения, которые в будущем мы можем внести в это Положение об
      использовании cookie-файлов, будут приведены на данной странице.
      Пожалуйста, регулярно проверяйте, не было ли настоящее Положение уточнено
      или изменено.
    </p>
    <h1>Что такое cookie-файлы<br />и для чего они используются?</h1>
    <p>
      <b>Cookie-файл</b> – это маленький текстовый файл, сохраняемый и/или
      используемый на жестком диске вашего конечного устройства (например,
      компьютера, ноутбука или смартфона) вашим веб-браузером при посещении вами
      веб-сайта. Практически каждый веб-сайт использует технологию cookie, чтобы
      обеспечить работоспособность веб-сайта и чтобы оптимизировать дизайн и
      функциональность. Также cookie-файлы делают ваше взаимодействие с
      веб-сайтами более быстрым и безопасным, поскольку они могут запоминать
      ваши настройки (такие как, например, логин и язык), направляя информацию,
      которая в них содержится, обратно на изначальный веб-сайт (основной
      cookie-файл) или на другой веб-сайт, которому он принадлежит (сторонний
      cookie-файл), когда вы повторно посещаете соответствующий веб-сайт с
      использованием того же конечного устройства. На основании функций и целей,
      для которых используются cookie-файлы, обычно они подразделяются на
      следующие категории cookie-файлов, которые HairHunters использует на этом
      веб-сайте:
      <br />
      <br />
      <b>Строго необходимые cookie-файлы</b> позволяют вам перемещаться по сайту
      и пользоваться его основными функциями. Обычно они устанавливаются в ответ
      на действия, совершаемые вами, которые выражают запрос на получение услуг,
      такие как вход под своим логином в защищенную зону нашего веб-сайта. Эти
      cookie-файлы необходимы для использования настоящего сайта.
      <br />
      <br />
      <b>Функциональные cookie-файлы</b> используются для того, чтобы узнать
      вас, когда вы возвращаетесь на наш веб-сайт, и чтобы предложить вам
      улучшенный и более персонализированный функционал, такой как обращение к
      вам по имени и запоминание ваших настроек (например, ваш выбор региона или
      языка). Такие cookie-файлы собирают обезличенную информацию и не могут
      отслеживать ваши перемещения на других сайтах.
      <br />
      <br />
      <b>Аналитические и эксплуатационные cookie-файлы</b> позволяют нам
      определить и посчитать количество посетителей и собрать информацию о том,
      как используется веб-сайт (например, какие страницы посетитель открывает
      чаще всего, и получает ли пользователь сообщения об ошибках на некоторых
      страницах). Это помогает улучшить работу нашего веб-сайта, обеспечивая, в
      частности, простоту поиска пользователями того, что они ищут.
    </p>
    <h1>Использование<br />сторонних cookie-файлов</h1>
    <p>
      Пожалуйста, обратите внимание, что HairHunters пользуется услугами третьих
      лиц с тем, чтобы узнать о том, как вы используете этот веб-сайт, в целях
      оптимизации вашего опыта в качестве пользователя и с целью показа рекламы
      вне этого сайта. Такие третьи лица (включая, например, рекламные сети или
      поставщиков внешних услуг, таких как сервисы аналитики веб-трафика) могут
      также использовать cookie-файлы, к которым мы не имеем отношения.
      <br />
      <br />
      Эти файлы необходимы для правильного использования веб-сайта,
      предоставляют доступ к разделам, которые имеют фильтры безопасности. Файлы
      cookie не используются для того, чтобы повредить или уничтожить ваш
      компьютер.
      <br />
      <br />
      Если Вы откажетесь использовать или удалите файлы cookie, наш сайт или
      некоторые его функции могут не работать должным образом, мы не сможем
      сохранить Ваши предпочтения и предложить индивидуальное обслуживание, и
      каждый раз, когда Вы будете просматривать наш сайт, мы будем информировать
      Вас снова об использовании cookie.
    </p>
    <h1>
      Что делать, если вы хотите отказаться<br />от использования cookie-файлов?
    </h1>
    <p>
      Если вы хотите удалить cookie-файлы, сохраненные на вашем устройстве, и
      настроить ваш веб-браузер так, чтобы отказаться от cookie-файлов, вы
      можете сделать это в разделе настроек вашего браузера. Обычно
      навигационные настройки, связанные с cookie-файлами, можно найти в
      разделах «Опции», «Инструменты» или «Предпочтения» веб-браузера, который
      вы используете для доступа на этот веб-сайт. 
      <br>
      <br>
      Однако, в зависимости от
      используемого вами веб-браузера для отключения cookie-файлов могут
      использоваться различные способы. Для получения более подробной
      информации, пожалуйста, перейдите по следующим ссылкам:
    </p>
    <div class="links">
      <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=ru" class="chrome">Google Chrome</a>
      <a href="https://support.mozilla.org/ru/kb/kuki-informaciya-kotoruyu-veb-sajty-hranyat-na-vas" class="firefox">Firefox</a>
      <a href="https://support.apple.com/kb/PH19214?locale=fr_FR&viewlocale=ru_RU" class="safari">Safari</a>
      <a href="http://help.opera.com/Windows/10.20/en/cookies.html" class="opera">Opera</a>
      <a href="https://support.microsoft.com/ru-ru/help/17442/windows-internet-explorer-delete-manage-cookies" class="ie">Internet Explorer</a>
    </div>
  </div>
  <app-footer></app-footer>
</section>
