.hair-palette-carousel {
  max-width: 1110px;
  position: relative;
  .swiper-container {
    .swiper-slide {
      width: 334px;
      height: 503px;
      //transition: height 0.4s;
      img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        //transition: transform 0.3s;
        //transform: translate3d(0,-40px,-180px);
      }
    }
  }
  .nav {
    width: 100%;
    position: absolute;
    top: 50%;
    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
      pointer-events: visible !important;
    }
    .swiper-button-next {
      top: 0;
      right: -70px;
      background: url(../../../assets/imgs/hair-palette-page/carousel/right-arrow.svg) no-repeat center center;
      outline: none;
    }
    .swiper-button-prev {
      top: 0;
      left: -70px;
      background: url(../../../assets/imgs/hair-palette-page/carousel/left-arrow.svg) no-repeat center center;
      outline: none;
    }
  }
}
