.hair-palette-carousel {
  max-width: 1110px;
  position: relative;
  .swiper-container {
    .swiper-slide {
      width: 334px;
      height: 503px;
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        min-height: 503px;
        height: 100%;
      }
      .lable {
        position: absolute;
        top: 5px;
        left: 0;
        display: flex;
        height: 37px;
        z-index: 2;
        .rectangle {
          background: #474747;
          padding: 5px 20px;
          box-sizing: border-box;
          .code {
            color: #fff;
            font-family: montserrat, sans-serif;
            font-size: 18px;
            margin-top: 2px;
          }
        }
        .triangle {
          height: 0;
          width: 0;
          border-top: 37px solid #474747;
          border-right: 10px solid transparent;
        }
      }
    }
  }
  .palette-swiper-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  .nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 50%;
    .palette-swiper-button-prev.swiper-button-disabled, .palette-swiper-button-next.swiper-button-disabled {
      opacity: 0.7;
      cursor: normal;
      pointer-events: none;
    }
    .palette-swiper-button-next {
      cursor: pointer;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: -70px;
      background: url(../../../assets/imgs/hair-palette-page/carousel/right-arrow.svg) no-repeat center center;
      background-size: 100% 100%;
      outline: none;
    }
    .palette-swiper-button-prev {
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: -70px;
      background: url(../../../assets/imgs/hair-palette-page/carousel/left-arrow.svg) no-repeat center center;
      background-size: 100% 100%;
      outline: none;
    }
  }
}

@media screen and (max-width: 1366px) { 
  .hair-palette-carousel {
    .palette-swiper-pagination {
      width: 90%;
      margin-left: 5%;
    }
    .nav {
      width: 100%;
      top: unset;
      bottom: -53px;
      .palette-swiper-button-next {
        width: 40px;
        height: 40px;
        top: unset;
        bottom: 0;
        right: -7px;
      }
      .palette-swiper-button-prev {
        width: 40px;
        height: 40px;
        top: unset;
        bottom: 0;
        left: -7px;
      }
    }
  }
}

@media screen and (max-width: 1160px) { 
  .hair-palette-carousel {
    max-width: 649px;
    .swiper-container {
      .swiper-slide {
        width: 203px;
        height: 290px;
        img {
          min-height: 290px;
        }
        .lable {
          top: 5px;
          height: 27px;
          .rectangle {
            padding: 5px 20px;
            .code {
              font-size: 14px;
              margin-top: 2px;
            }
          }
          .triangle {
            border-top: 27px solid #474747;
            border-right: 10px solid transparent;
          }
        }
      }
    }
    .palette-swiper-pagination {
      width: 90%;
      margin-left: 5%;
      height: 2px;
    }
    .nav {
      width: 100%;
      top: unset;
      bottom: -34px;
      .palette-swiper-button-next {
        width: 21px;
        height: 21px;
        top: unset;
        bottom: 0;
        right: -4px;
      }
      .palette-swiper-button-prev {
        width: 21px;
        height: 21px;
        top: unset;
        bottom: 0;
        left: -4px;
      }
    }
  }
}