<section class="agreement-page">
  <app-header isAgreement="true"></app-header>
  <div class="agreement-wrapper">
    <h1>Согласие на обработку персональных данных</h1>
    <p class="text">
      Пользователь, оформляя заявку на сайте
      www.narashivanie-volos.club (далее – Сайт), соглашается с
      условиями настоящего Согласия на обработку персональных данных
      (далее – Согласие) в соответствии с Законом Украины "Про захист
      персональних даних". Принятием (акцептом) оферты Согласия
      является отправка заявки с Сайта или заказ у Оператора по
      телефонам Сайта.
      <br />
      <br />
      Пользователь дает свое согласие на обработку своих персональных
      данных со следующими условиями:
      <br />
      <br />
      1. Данное Согласие дается на обработку персональных данных как
      без, так и с использованием средств автоматизации.
      <br />
      <br />
      2. Согласие распространяется на следующую информацию: фамилия,
      имя, отчество, телефон, электронная почта.
      <br />
      <br />
      3. Согласие на обработку персональных данных дается в целях
      предоставления Пользователю ответа на заявку, дальнейшего
      заключения и выполнения обязательств по договорам, осуществления
      клиентской поддержки, информирования об услугах, которые, по
      мнению Оператора, могут представлять интерес для Пользователя,
      проведения опросов и маркетинговых исследований.
      <br />
      <br />
      4. Пользователь, предоставляет Оператору право осуществлять
      следующие действия (операции) с персональными данными: сбор,
      запись, систематизация, накопление, хранение, уточнение
      (обновление, изменение), использование, обезличивание,
      блокирование, удаление и уничтожение, передача третьим лицам, с
      согласия субъекта персональных данных и соблюдением мер,
      обеспечивающих защиту персональных данных от
      несанкционированного доступа.
      <br />
      <br />
      5. Персональные данные обрабатываются Оператором до завершения
      всех необходимых процедур. Также обработка может быть прекращена
      по запросу Пользователя на электронную почту:
      hairhunters@gmail.com
      <br />
      <br />
      6. Пользователь подтверждает, что, давая Согласие, он действует
      свободно, своей волей и в своем интересе.
      <br />
      <br />
      7. Настоящее Согласие действует бессрочно до момента прекращения
      обработки персональных данных по причинам, указанным в п.5
      данного документа.
    </p>
  </div>
  <app-footer></app-footer>
</section>
