<section class="price-page">
  <div class="bg">
    <div class="mask"></div>
    <img src="../../assets/imgs/masters-page/bg.png" alt="" />
  </div>
  <div class="price-container">
    <p class="title">Цены</p>
    <div class="row">
      <div class="left-col">
        <div class="table">
          <table>
            <tr>
              <td>Категория мастера</td>
              <td>Стандарт+</td>
              <td>ТОП мастер</td>
            </tr>
            <tr>
              <td>Наращивание волос<br />(до 150 грамм)</td>
              <td>1000грн</td>
              <td>2000грн</td>
            </tr>
            <tr>
              <td>Коррекция<br />(до 150 грамм)</td>
              <td>1200грн</td>
              <td>2200грн</td>
            </tr>
          </table>
        </div>
        <div class="free-consultation">
          <p class="text">Консультация - Бесплатно!</p>
          <app-button-modal-window
            text="Записаться"
            windowId="free-consultation-modal"
          ></app-button-modal-window>
        </div>
      </div>
      <div class="right-col">
        <div class="table">
          <table>
            <tr>
              <td>Снятие (до 150грамм)</td>
              <td>300грн</td>
            </tr>
            <tr>
              <td>Коррекция после другого мастера</td>
              <td>10грн капсула</td>
            </tr>
            <tr>
              <td>Исправление чужих ошибок</td>
              <td>10грн капсула</td>
            </tr>
            <tr>
              <td>Наращивание на цветной кератин</td>
              <td>+300грн</td>
            </tr>
            <tr>
              <td>Холодное наращивание биогелем</td>
              <td>28грн капсула</td>
            </tr>
            <tr>
              <td>Коррекция Холодного наращивания</td>
              <td>30грн капсула</td>
            </tr>
            <tr>
              <td>Снятие холодного наращивания</td>
              <td>1000грн</td>
            </tr>
            <tr>
              <td>Распутывание колтунов</td>
              <td>от 100 до 500грн</td>
            </tr>
            <tr>
              <td>Волосы</td>
              <td>от 1,35 &#36;/г до 1,9 &#36;/г</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="stock-container" *ngIf="isStock">
    <!-- <span class="count" *ngIf="stockCount > 1">({{ stockCount }})</span> -->
    <!-- <svg
      *ngIf="stockCount > 1"
      width="19"
      height="15"
      viewBox="0 0 19 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.82271 0.763209C10.2182 0.412264 10.8382 0.412264 11.2336 0.763209L18.1773 6.92514C18.6076 7.30698 18.6076 7.95432 18.1773 8.33616L11.2336 14.4981C11.0319 14.6771 10.7822 14.7613 10.5282 14.7613C10.2741 14.7613 10.0245 14.6771 9.82271 14.4981C9.39243 14.1162 9.39243 13.4689 9.82271 13.0871L14.9917 8.5H1.5C0.947716 8.5 0.5 8.05229 0.5 7.5C0.5 6.94772 0.947715 6.5 1.5 6.5H14.6973L9.82271 2.17423C9.39243 1.79238 9.39243 1.14505 9.82271 0.763209Z"
        fill="#942FE5"
      />
    </svg> -->
    <p class="title">
      Акции
    </p>
    <app-stock-carousel *ngIf="!isDesktop"></app-stock-carousel>
    <div class="stock-scroll">
      <div class="stock-wrapper">
        <!-- Без цены -->
        <app-stock-card
          #stock
          deadline="2019-08-18"
          cookieDeadline="0"
          counterId="counter1"
        >
          <div class="stock-card without-price">
            <div class="cover">
              <img src="" alt="" />
            </div>
            <div class="stock-info">
              <div class="info">
                <p class="title">
                  Закажите<br />от 3х хвостов<br />по оптовой цене,<br />без
                  предоплаты!
                </p>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter1">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Заказать"
                  windowId="stock-1-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card>

        <!-- С ценой -->
        <app-stock-card
          #stock
          deadline="0"
          cookieDeadline="2"
          counterId="counter2"
        >
          <div class="stock-card with-price">
            <div class="cover">
              <img src="" alt="" />
              <div class="lable">
                <div class="triangle"></div>
                <div class="rectangle">
                  <p class="text">Наращивание волос</p>
                </div>
              </div>
            </div>
            <div class="stock-info">
              <div class="info">
                <p class="title">Мастер категории<br />Стандарт+</p>
                <div class="price">
                  <p class="old-price">
                    <span class="line"></span>1000 <span class="grn">грн</span>
                  </p>
                  <p class="new-price">800<span class="grn"> грн</span></p>
                </div>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter2">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Записаться"
                  windowId="stock-2-modal"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card>

        <!-- сертификат -->
        <app-stock-card
          #stock
          deadline="0"
          cookieDeadline="2"
          counterId="counter3"
        >
          <div class="stock-card certificate">
            <div class="cover">
              <img src="" alt="" />
              <div class="lable">
                <div class="triangle"></div>
                <div class="rectangle">
                  <p class="text">Получи сертификат</p>
                </div>
              </div>
            </div>
            <div class="stock-info">
              <div class="info">
                <span class="sale">50%</span>
                <p class="title">скидка на<br />наращивание волос</p>
              </div>
              <div class="counter-container">
                <div class="counter" id="counter3">
                  <div class="wrapper" id="days">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="days"></span>
                    <p class="lable">День</p>
                  </div>
                  <div class="wrapper" id="hours">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="hours"></span>
                    <p class="lable">Часы</p>
                  </div>
                  <div class="wrapper" id="minutes">
                    <div class="lines-wrapper">
                      <span class="line-top"></span>
                      <span class="line-left"></span>
                      <span class="line-right"></span>
                      <span class="line-bottom"></span>
                    </div>
                    <span class="minutes"></span>
                    <p class="lable">Мин.</p>
                  </div>
                </div>
                <app-button-modal-window
                  text="Получить"
                  isLink="true"
                  link="https://wep.wf/k2g1if"
                ></app-button-modal-window>
              </div>
            </div>
          </div>
        </app-stock-card>
      </div>
    </div>
  </div>
</section>
