<section class="price-page">
  <div class="bg">
    <div class="mask"></div>
    <img src="../../assets/imgs/masters-page/bg.png" alt="" />
  </div>
  <div class="price-container">
    <p class="title">Цены</p>
    <div class="left-col">
      <div class="table">
        <table>
          <tr>
            <td>Категория мастера</td>
            <td>Стандарт+</td>
            <td>ТОП мастер</td>
          </tr>
          <tr>
            <td>Наращивание волос<br />(до 150 грамм)</td>
            <td>1000грн</td>
            <td>2000грн</td>
          </tr>
          <tr>
            <td>Коррекция<br />(до 150 грамм)</td>
            <td>1200грн</td>
            <td>2200грн</td>
          </tr>
        </table>
      </div>
      <div class="free-consultation">
        <p class="text">Записаться на бесплатную консультацию</p>
        <button>Записаться</button>
      </div>
    </div>
    <div class="right-col">
      <div class="table">
        <table>
          <tr>
            <td>Снятие (до 150грамм)</td>
            <td>300грн</td>
          </tr>
          <tr>
            <td>Коррекция после другого мастера</td>
            <td>10грн капсула</td>
          </tr>
          <tr>
            <td>Исправление чужих ошибок</td>
            <td>10грн капсула</td>
          </tr>
          <tr>
            <td>Наращивание на цветной кератин</td>
            <td>+300грн</td>
          </tr>
          <tr>
            <td>Холодное наращивание биогелем</td>
            <td>28грн капсула</td>
          </tr>
          <tr>
            <td>Коррекция Холодного наращивания</td>
            <td>30грн капсула</td>
          </tr>
          <tr>
            <td>Снятие холодного наращивания</td>
            <td>1000грн</td>
          </tr>
          <tr>
            <td>Распутывание колтунов</td>
            <td>от 100 до 500грн</td>
          </tr>
          <tr>
            <td>Волосы</td>
            <td>от 1,35 &#36;/г до 1,9 &#36;/г</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="stock"></div>
</section>
