<section class="main-block" id="main-block">
  <div class="wrapper">
    <section class="left">
      <h2>Обучись модной высокооплачиваемой профессии!</h2>
      <h1>Индивидуальный и самый полный курс по наращиванию волос</h1>
      <div class="icons">
        <div class="time">
          <object
            data="assets/obucheniye/icons/time.svg"
            type="image/svg+xml"
          ></object>
          <p>3 полных дня</p>
        </div>
        <div class="comb">
          <object
            data="assets/obucheniye/icons/comb.svg"
            type="image/svg+xml"
          ></object>
          <p>95% практики</p>
        </div>
        <div class="top">
          <object
            data="assets/obucheniye/icons/top.svg"
            type="image/svg+xml"
          ></object>
          <p>ТОП мастер Украины</p>
        </div>
      </div>
    </section>
    <section class="right">
      <!-- <div class="blur"></div>
      <img
        src="assets/obucheniye/main-block/master-transparent.png"
        alt=""
        class="bg"
      />
      <p>До начала курсов осталось:</p>
      <app-stock-timer
        date="2019-09-30"
        timerId="t1"
      ></app-stock-timer>
      <button>Записаться</button> -->
    </section>
  </div>
  <object
    class="goop"
    data="assets/obucheniye/main-block/main-block-goop.svg"
    type="image/svg+xml"
  ></object>
</section>
