<section class="main-block" id="main-block">
  <div class="wrapper">
    <section class="left">
      <h2>Обучись модной высокооплачиваемой профессии!</h2>
      <h1>Индивидуальный и самый полный курс по наращиванию волос</h1>
      <div class="icons">
        <div class="time">
          <object
            data="assets/obucheniye/icons/time.svg"
            type="image/svg+xml"
          ></object>
          <p>3 полных дня</p>
        </div>
        <div class="comb">
          <object
            data="assets/obucheniye/icons/comb.svg"
            type="image/svg+xml"
          ></object>
          <p>95% практики</p>
        </div>
        <div class="top">
          <object
            data="assets/obucheniye/icons/top.svg"
            type="image/svg+xml"
          ></object>
          <p>ТОП мастер Украины</p>
        </div>
      </div>
    </section>
    <section class="right">
      <div class="circles">
        <div class="wrapper">
          <span class="circle _1"></span>
          <span class="circle _2"></span>
          <span class="circle _3"></span>
        </div>
      </div>
      <div class="bg-wrapper">
        <div class="blur"></div>
        <img
          src="assets/obucheniye/main-block/student.jpeg"
          alt=""
          class="bg"
        />
      </div>
      <div class="timer">
        <p>До начала курсов осталось:</p>
        <app-stock-timer
          date="2019-09-30"
          timerId="t1"
          color="#fff"
        ></app-stock-timer>
        <app-modal-button style="margin-top: 50px;" theme="white"
          >Записаться</app-modal-button
        >
      </div>
    </section>
  </div>
  <div class="static-circles">
    <span class="circle _1"></span>
    <span class="circle _2"></span>
    <span class="circle _3"></span>
  </div>
  <img
    src="assets/obucheniye/main-block/cert.png"
    alt=""
    class="certificate"
  />
  <object
    class="goop"
    data="assets/obucheniye/main-block/main-block-goop.svg"
    type="image/svg+xml"
  ></object>
</section>
