<section class="reviews-page">
  <!-- <object
    class="bg"
    type="image/svg+xml"
    data="../../assets/imgs/reviews-page/bg.svg"
  >
    Your browser does not support SVG
  </object> -->
  <img src="../../assets/imgs/reviews-page/bg.png" alt="" class="bg">
  <div class="reviews-page-container">
    <div class="reviews">
      <p class="title">
        Отзывы
      </p>
      <app-reviews-carousel></app-reviews-carousel>
    </div>
    <div class="need-know">
      <p class="title">Нужно знать</p>
      <div class="need-know-container">
        <div class="block block-1">
          <div class="header" (click)="handleClick($event)">
            <h1>
              Как отличить хорошие волосы от плохих?
            </h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                На рынке волос есть много вариантов цен и качества. Как же не
                стать жертвой недобросовестного мастера, который хочет просто
                заработать денег и впарить вам волосы?<br /><br />Есть много
                факторов, зная которые можно отличить, будут ли волосы хорошо
                носиться, дарить вам красоту и радость каждый день. Или они
                скоро станут как солома, запутаются и вы просто выкинете эти
                волосы и свои деньги!<br /><br />Еще одной ошибкой при выборе
                волос является погоня за минимальной ценой с обещаниями мастера
                как все будет супер! Скажите, если Вам предложат Iphone Х за
                5000грн, вы его купите? Я думаю, Вы сразу поймете, что это
                китайская копия, которая не соответствует качеству оригинала и в
                скором времени придет в негодность!
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/1.png" alt="" />
          </div>
        </div>
        <div class="block block-2">
          <div class="header" (click)="handleClick($event)">
            <h1>
              Как правильно подобрать волосы?
            </h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                Каждый человек индивидуален! Это и есть основа подхода. Волосы
                нужно правильно подобрать по оттенку, по структуре, по кол-ву, в
                зависимости от состояния и густоты ваших волос. Также нужно
                понимать, если вы хотите длинные волосы, то волос нужно больше
                так как вес уйдет в длину. С густыми волосами нужно так же или
                простригать их, иначе на голове будет “шапка”, а внизу висеть «3
                волосины». При наличии редких волос вполне может хватить и 70-80
                грамм.<br /><br />Обратите на это внимание, мастер хочет впарить
                вам волосы и заработать денег или сделать качественную
                работу.<br /><br />Бывает, когда у клиентов не хватает денег, но
                они очень хотят нарастить хотя бы немного волос. В таких
                случаях, в место обещаний как все будет классно, мы все подробно
                объясняем, предлагаем немного подождать с покупкой и за такие
                работы не беремся. Потому-что, потом это ваше испорченное
                настроение и наша репутация!
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/2.png" alt="" />
          </div>
        </div>
        <div class="block block-3">
          <div class="header" (click)="handleClick($event)">
            <h1>
              Как при правильном уходе отрастить свои волосы?
            </h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                Многие у меня спрашивают: Не испорчу ли я свои волосы? Все
                зависит от опыта мастера, от правильного отступа и размера пряди
                которую он берет, от качества нарощенных волос, используемых
                материалов и в первую очередь отношения самого клиента!<br /><br />При
                выполнении ряда моих простых рекомендаций вы сможете не только
                сохранить свои волосы, улучшить их качество, но и отрастить свою
                длину.
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/3.png" alt="" />
          </div>
        </div>
        <div class="block block-4">
          <div class="header" (click)="handleClick($event)">
            <h1>
              Какие капсулы выбрать: Стандарт, Микро или Нано?
            </h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                Стандартные капсулы - самые крупные, в основном используются для
                размещения большого кол-ва волос. Но вы сильно не
                расстраивайтесь, сейчас почти все мастера рекламируют
                наращивание микрокапсулами, но 70% клиентов ходят со
                стандартными.<br /><br />Микрокапсулы - очень удобны, они не
                ощущаются при носке и не заметны. Важно правильно формировать
                капсулы, чтобы они были аккуратными, гладкими и не доставляли
                дискомфорт.<br /><br />Супермикро или Нано - а вот ими не стоит
                злоупотреблять. Ведь мы помним, что чем меньше капсулы, тем
                меньше берется прядь ваших волос для крепления, что
                повышает риск их оборвать, и тем меньше берется материала для
                крепления и волосы могут начать вылезать. Да и на выполнение
                такого наращивания понадобиться почти целый день.
                Нано-капсулы можно делать в безопасных зонах или при
                необходимости.<br /><br />К сожалению, по факту сейчас все из
                крайности в крайность - многие мастера делают крупные и грубые
                капсулы, которые  заметно торчат, а другие, не беспокоясь о
                здоровье Вашим волос активно пиарят модные Нано-капсулы, ради
                высокой стоимости работы.
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/4.png" alt="" />
          </div>
        </div>
        <div class="block block-5">
          <div class="header" (click)="handleClick($event)">
            <h1>
              Холодное наращиванием биогелем - Достоинства и Опасность
            </h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <div class="one">
                <p class="text">
                  Новейшая технология в индустрии наращивания волос, пришедшая к
                  нам из Испании. Она позволяет безопасно делать невидимые
                  капсулки, прочно скрепляя волосы, без дальнейшей их потери,
                  благодаря очень прочному материалу, который моментально
                  застывает. Но именно по-этому, она очень сложная и если мастер
                  сделает хоть малейшее движение не так, то останется острая
                  капсула, которая принесет огромный дискомфорт во время
                  носки.<br /><br />Во вторых, из-за недостатка опыта мастера,
                  излишек клея может остаться в волосах и его практически
                  невозможно будет удалить, что навредит вашим волосам!
                </p>
                <img
                  src="../../assets/imgs/reviews-page/need-know/5-1.png"
                  alt=""
                />
              </div>
              <div class="two">
                <img
                  src="../../assets/imgs/reviews-page/need-know/5-2.png"
                  alt=""
                />
                <div class="col">
                  <p class="text">
                    В третьих, из-за дорогой стоимости материалов и сложности
                    процесса - складывается высокая стоимость наращивания, что
                    привлечет много новых мастеров желающих просто побольше
                    заработать. Как показывает практика, для поиска клиентов они
                    делают ставку не на качество работы, а на более низкую
                    цену.<br /><br /><b
                      >Будьте очень внимательны при выборе мастера, ведь всего
                      одна капсула испортит вам все наращивание и
                      впечатление.</b
                    >
                  </p>
                  <button>Узнать подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block block-6">
          <div class="header" (click)="handleClick($event)">
            <h1>Гарантия на волосы и работу!</h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <div class="one">
                <p class="text">
                  Мы несем полную ответственность за свою работу и волосы
                  фабрики Hair Hunters.  Если вдруг: волосы оказались плохого
                  качества, из-за плохих материалов начали сыпаться  капсулы, мы
                  сразу все исправим, поменяем вам волосы или переделаем работу.
                </p>
              </div>
              <div class="two">
                <p class="text">
                  P.S. ЗА 5 ЛЕТ НАШЕЙ РАБОТЫ НЕ БЫЛО НИ ЕДИНОГО СЛУЧАЯ!
                </p>
                <button>Узнать подробнее</button>
              </div>
            </div>
          </div>
        </div>
        <div class="block block-7">
          <div class="header" (click)="handleClick($event)">
            <h1>Опыт работы</h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                Я надеюсь все прекрасно понимают, что не бывает хороших мастеров
                широкого профиля. В чем-то они конечно может и хороши, но это
                обычно одно направление.<br /><br />Также опыт работы в 10 лет,
                не всегда является показателем качества. У мастера может быть
                всего 10 наращиваний за это время, а опыт работы уже 10
                лет!)))<br /><br />Всегда ориентируйтесь по работам мастера. Но
                будьте внимательны, многие мастера любят
                &quot;воровать&quot; фото чужих работ и козырять выдуманными
                годами работы.
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/7.png" alt="" />
          </div>
        </div>
        <div class="block block-8">
          <div class="header" (click)="handleClick($event)">
            <h1>Профессиональная консультация</h1>
            <div class="arrow-wrapper">
              <img
                class="arrow"
                src="../../assets/imgs/reviews-page/arrow.svg"
                alt=""
              />
            </div>
          </div>
          <div class="content">
            <div class="info">
              <p class="text">
                Обязательно записывайтесь на консультацию!<br /><br />Только так
                вы сможете увидеть и пощупать волосы, убедиться в их качестве,
                познакомиться с нами лично, узнать все секреты в выборе и носке
                волос, получить профессиональные ответы на все интересующие вас
                вопросы.<br /><br />Так же вы сможете правильно подобрать волосы
                конкретно под себя и определиться со стоимостью.
              </p>
              <button>Узнать подробнее</button>
            </div>
            <img src="../../assets/imgs/reviews-page/need-know/8.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
