<section class="masters-page">
  <div class="bg">
    <div class="mask"></div>
    <img src="assets/imgs/masters-page/bg.jpeg" alt="" />
  </div>

  <div class="masters-page-container">
    <h1 class="title">
      Мастера
    </h1>
    <app-masters-carousel></app-masters-carousel>
    <div class="master-card-container">
      <div class="cards-wrapper">
        <div class="master-card">
          <div class="photo">
            <img src="assets/imgs/masters-page/1.jpeg" alt="" />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер по наращиванию волос
                  <span class="num">№1 </span>в Украине
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Евгения Валериевна</h3>
            <p class="text">
              «Делаю работу так - как хотела, что бы сделали ее мне»
            </p>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="first-master-modal"
          ></app-button-modal-window>
        </div>
        <div class="master-card">
          <div class="photo">
            <img src="assets/imgs/masters-page/3.jpeg" alt="" />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер категории <br />
                  <span class="num">Стандарт+</span>
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Наталия Григориевна</h3>
            <p class="text">
              «Ничто так не вдохновляет,<br />
              как Ваш восторг от моего наращивания»
            </p>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="third-master-modal"
          ></app-button-modal-window>
        </div>
        <div class="master-card">
          <div class="photo">
            <img src="assets/imgs/masters-page/2.jpeg" alt="" />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер категории <br />
                  <span class="num">Стандарт</span>
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Ольга Геннадиевна</h3>
            <p class="text">
              «Работая в команде с ТОПовым мастером Украины, постоянно
              совершенствую свой профессионализм»
            </p>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="second-master-modal"
          ></app-button-modal-window>
        </div>
      </div>
    </div>
  </div>
</section>
