<section class="masters-page">
  <div class="bg">
    <div class="mask"></div>
    <img src="../../assets/imgs/masters-page/bg.png" alt="" />
  </div>
  <div class="master-card-wrapper">
    <div class="master-card">
      <div class="ico-best"></div>
      <div class="avatar">
        <img src="../../assets/imgs/masters-page/first-m.png" alt="" />
      </div>
      <div class="info">
        <div class="lable">
          <p>
            Мастер по наращиванию волос <span class="num">№1</span> в Украине
          </p>
        </div>
        <h3 class="name">Евгения Валериевна</h3>
        <p class="quote">
          «Делаю работу так - как хотела, что бы сделали ее мне»
        </p>
      </div>
    </div>
    <div class="master-card"></div>
    <div class="master-card"></div>
  </div>
</section>
