<section class="hair-palette-page">
  <img
    class="bg"
    src="../../assets/imgs/hair-palette-page/bg.png"
    alt=""
  />
  <!-- <div class="hair-palette-page-container"> -->
    <p class="title">Палитра волос</p>
  <!-- </div> -->
  <app-hair-palette-carousel></app-hair-palette-carousel>
  <div class="free-consultation">
    <p class="text">Подобрать натуральные волосы для наращивания</p>
    <div class="btns">
      <button class="btn-all">Смотреть все</button>
      <button class="btn-choose">Подобрать</button>
    </div>
   
  </div>
</section>
