<section class="hair-palette-page">
  <object
    class="bg"
    type="image/svg+xml"
    data="../../assets/imgs/hair-palette-page/bg.svg"
  >
    Your browser does not support SVG
  </object>
  <!-- <div class="hair-palette-page-container"> -->
    <p class="title">Палитра волос</p>
  <!-- </div> -->
  <app-hair-palette-carousel></app-hair-palette-carousel>
  <div class="free-consultation">
    <p class="text">Подобрать натуральные волосы для наращивания</p>
    <button>Подобрать</button>
  </div>
</section>
