<section class="for-whom-block">
  <div class="wrapper">
    <h1>Для кого это актуально?</h1>
    <div class="who-wrapper">
      <article class="who">
        <div class="cover">
          <img
            src="assets/obucheniye/for-whom-block/new.jpg"
            alt=""
          />
        </div>
        <section class="info">
          <h2>Девушки без опыта в парикмахерском деле</h2>
          <p>
            Девушки без какого-либо опыта в парикмахерском деле. Для
            создания стабильного источника дохода.
          </p>
        </section>
      </article>
      <article class="who">
        <div class="cover">
          <img
            src="assets/obucheniye/for-whom-block/exp.jpg"
            alt=""
          />
        </div>
        <section class="info">
          <h2>Уже работающие и начинающие мастера наращивания</h2>
          <p>
            Действующие и начинающие мастера наращивания. Для
            повышения уровня квалификации и правильной подачи своей
            услуги.
          </p>
        </section>
      </article>
      <article class="who">
        <div class="cover">
          <img
            src="assets/obucheniye/for-whom-block/old.jpg"
            alt=""
          />
        </div>
        <section class="info">
          <h2>Желающие сменить сферу деятельности</h2>
          <p>
            Желающие сменить работу и сферу деятельности. Наращивание
            волос современная, интересная и прибыльная профессия.
          </p>
        </section>
      </article>
    </div>
  </div>
</section>
