/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/_fonts";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.works-swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 54px;
  height: 3px;
  border-radius: 1.5px;
  margin-left: 12px;
  opacity: 1;
}

.works-swiper-pagination .swiper-pagination-bullet-active {
  background: #942FE5;
  width: 54px;
  height: 3px;
}

body > app-root > app-reviews-page > section > div.reviews-page-container > div.need-know > div > div.block.block-6 > div.content.toggle > div > div.two > app-button-modal-window > button {
  margin-top: 30px;
}