/* You can add global styles to this file, and also import other style files */
// @import "./assets/scss/_fonts";

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html {
  position: relative;
}
body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
}


// ADMIN-PANEL //

.ant-table-filter-icon {
  font-size: 16px;
}

// ADMIN-PANEL //


.works-swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 54px;
  border: none;
  height: 3px;
  border-radius: 1.5px;
  margin-left: 12px;
  opacity: 1;
}

.works-swiper-pagination .swiper-pagination-bullet-active {
  background: #942fe5;
  border: none;
  width: 54px;
  height: 3px;
}


//--------------- MEDIA -----------------


@media screen and (max-width: 1366px) { 
  .works-swiper-pagination {
    margin-top: -12px;
    margin-right: 62px;
  }
  .palette-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 4px !important;
      bottom: -35px !important;
    }
  }
}

@media screen and (max-width: 1160px) {
  
  .reviews-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
    }
  }

  .works-swiper-pagination {
    margin-top: -5px;
    margin-right: 25px;
  }

  .works-swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: 31px;
    height: 2px;
    border-radius: 1.5px;
    margin-left: 8px;
    opacity: 1;
  }

  .works-swiper-pagination .swiper-pagination-bullet-active {
    background: #942fe5;
    width: 31px;
    height: 2px;
  }

  .palette-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
      bottom: -24px !important;
    }
  }
}

@media screen and (max-width: 690px) {
  
  .masters-swiper-pagination {
    margin-top: 0px;
    margin-right: 0px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet {
    background-color: #BA6AFB;
    width: 8px;
    height: 8px;
    border-radius: 0px;
    margin-left: 6px;
    opacity: 1;
    border-radius: 10px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet-active {
    background: #942fe5;
    width: 9px;
    height: 9px;
  }


  .reviews-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
    }
  }

  .works-swiper-pagination {
    margin-top: 0px;
    margin-right: 28px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 100px;
    width: 10px;
    height: 10px;
    position: relative;
    display: block;
    margin-top: -1px;
  }
  .masters-swiper-pagination  {
    height: 12px;
  }

  .stock-swiper-pagination .swiper-pagination-bullet {
    margin: 0 3px;
    width: 8px;
    height: 8px;
    background: #983fe0;
    opacity: 1;
  }
  .stock-swiper-pagination .swiper-pagination-bullet-active {
    width: 10px;
    position: relative;
    height: 10px;
    background: #983fe0;
    border-radius: 100px;
    margin-top: -1px;
  }


  .works-swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 0px;
    margin-left: 6px;
    opacity: 1;
    border-radius: 10px;
  }

  .works-swiper-pagination .swiper-pagination-bullet-active {
    background: #942fe5;
    width: 11px;
    height: 11px;
    margin-bottom: -1px;
    // border: 1px solid #fff;
  }

  .palette-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
      bottom: -24px !important;
    }
  }
}

@media screen and (max-width: 375px) {
  
  .masters-swiper-pagination {
    margin-top: 0px;
    margin-right: 0px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet {
    background-color: #BA6AFB;
    width: 8px;
    height: 8px;
    border-radius: 0px;
    margin-left: 6px;
    opacity: 1;
    border-radius: 10px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet-active {
    background: #942fe5;
    width: 9px;
    height: 9px;
  }


  .reviews-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
    }
  }

  .works-swiper-pagination {
    margin-top: 0px;
    margin-right: 23px;
  }

  .masters-swiper-pagination .swiper-pagination-bullet-active {
    border-radius: 100px;
    width: 10px;
    height: 10px;
    position: relative;
    display: block;
    margin-top: -1px;
  }
  .masters-swiper-pagination  {
    height: 12px;
  }

  .works-swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-radius: 0px;
    margin-left: 4px;
    opacity: 1;
    border-radius: 10px;
  }

  .works-swiper-pagination .swiper-pagination-bullet-active {
    background: #942fe5;
    width: 11px;
    height: 11px;
    margin-bottom: -1px;
    // border: 1px solid #fff;
  }

  .palette-swiper-pagination {
    .swiper-pagination-progressbar {
      height: 2px !important;
      bottom: -24px !important;
    }
  }
}