<div class="timer" id="{{ timerId }}">
  <div class="wrapper" id="days">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span class="days"></span>
    <p class="lable">День</p>
  </div>
  <div class="wrapper" id="hours">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span class="hours"></span>
    <p class="lable">Часы</p>
  </div>
  <div class="wrapper" id="minutes">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span class="minutes"></span>
    <p class="lable">Мин.</p>
  </div>
</div>
