<div class="timer" id="{{ timerId }}">
  <div class="wrapper" id="days">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span class="days" id="days" [ngStyle]="{ color: color }"></span>
    <p class="lable" [ngStyle]="{ color: color }">День</p>
  </div>
  <div class="wrapper" id="hours">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span
      class="hours"
      id="hours"
      [ngStyle]="{ color: color }"
    ></span>
    <p class="lable" [ngStyle]="{ color: color }">Часы</p>
  </div>
  <div class="wrapper" id="minutes">
    <div class="lines-wrapper">
      <span class="line-top" [ngStyle]="{ background: color }"></span>
      <span
        class="line-left"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-right"
        [ngStyle]="{ background: color }"
      ></span>
      <span
        class="line-bottom"
        [ngStyle]="{ background: color }"
      ></span>
    </div>
    <span
      class="minutes"
      id="minutes"
      [ngStyle]="{ color: color }"
    ></span>
    <p class="lable" [ngStyle]="{ color: color }">Мин.</p>
  </div>
</div>
