<div class="masters-carousel">
  <div class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="master-card">
          <div class="photo">
            <img
              src="assets/imgs/masters-page/1.jpeg"
              alt="Салон по наращиванию натуральных волос"
            />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер по наращиванию волос
                  <span class="num">№1 </span>в Украине
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Евгения Валериевна</h3>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="first-master-modal"
          ></app-button-modal-window>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="master-card">
          <div class="photo">
            <img
              src="assets/imgs/masters-page/3.jpeg"
              alt="Лучший Мастер по наращиванию натуральных волос микрокапсулами на кератин"
            />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер категории <br />
                  <span class="num">Стандарт+</span>
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Наталия Григориевна</h3>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="third-master-modal"
          ></app-button-modal-window>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="master-card">
          <div class="photo">
            <img
              src="assets/imgs/masters-page/2.jpeg"
              alt="Лучший Мастер по наращиванию натуральных волос на биогель"
            />
            <div class="mask"></div>
          </div>
          <div class="lable">
            <div class="container">
              <div class="triangle"></div>
              <div class="rectangle">
                <p class="text">
                  Мастер категории <br />
                  <span class="num">Стандарт</span>
                </p>
              </div>
            </div>
          </div>
          <div class="info">
            <h3 class="name">Ольга Геннадиевна</h3>
          </div>
          <app-button-modal-window
            text="Записаться"
            windowId="second-master-modal"
          ></app-button-modal-window>
        </div>
      </div>
    </div>
  </div>
  <div class="masters-swiper-pagination"></div>
</div>
