.masters-carousel {
  position: relative;
  z-index: 3;
  .swiper-container {
    .swiper-slide {
      position: relative;
      height: 330px;
      width: 240px;
      position: relative;
      // overflow: hidden;
      border-radius: 4px;

      .master-card {
        height: 320px;
        width: 240px;
        box-sizing: border-box;
        background: #2f2f2f;
        position: relative;
        // overflow: hidden;
        border-radius: 3px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .photo {
          position: relative;
          width: 100%;
          img {
            height: 205px;
            object-fit: cover;
            width: 100%;
            object-position: top;
          }
        }
        .lable {
          height: 38px;
          width: 199px;
          position: absolute;
          right: 0;
          top: 180px;
          .container {
            display: flex;
            position: absolute;
            z-index: 0;
            right: 0;
            top: 0;
            .triangle {
              height: 0;
              width: 0;
              border-bottom: 38px solid #fff;
              border-left: 17px solid transparent;
            }
            .rectangle {
              //width: 307px;
              height: 38px;
              background: #fff;
              .text {
                margin-left: 3px;
                margin-right: 0px;
                position: relative;
                z-index: 1;
                // font-family: montserrat, sans-serif;
                font-weight: 600;
                font-size: 13px;
                margin-top: 3px;
                text-indent: 0px;
                span {
                  color: #942fe5;
                }
              }
            }
          }
        }
        .info {
          position: relative;
          z-index: 1;
          width: 185px;
          .name {
            // font-family: montserrat, sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            margin-top: 20px;
            margin-bottom: 15px;
            white-space: nowrap;
            letter-spacing: -0.03em;
          }
          .text {
            // font-family: montserrat, sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #fff;
          }
        }
        app-button-modal-window {
          position: absolute;
          bottom: 15px;
        }
      }
    }
  }
  .masters-swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet-active {
      border-radius: 100px;
    }
  }
}

@media screen and (max-width: 690px) {
  .masters-carousel {
    .swiper-container {
      .swiper-slide {
        height: 450px;
        width: 310px;
        .master-card {
          height: 450px;
          width: 310px;
          .photo {
            img {
              height: 315px;
              object-fit: cover;
              width: 100%;
              object-position: top;
            }
          }
          .lable {
            height: 38px;
            width: 199px;
            position: absolute;
            right: 0;
            top: 290px;
          }
          .info {
            .name {
              margin-top: 25px;
            }
          }
          app-button-modal-window {
            bottom: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .masters-carousel {
    .swiper-container {
      .swiper-slide {
        height: 330px;
        width: 240px;
        .master-card {
          height: 330px;
          width: 240px;
          .photo {
            position: relative;
            width: 100%;
            img {
              height: 205px;
              object-fit: cover;
              width: 100%;
              object-position: top;
            }
          }
          .lable {
            height: 38px;
            width: 199px;
            position: absolute;
            right: 0;
            top: 180px;
          }
        }
      }
    }
  }
}
